.movie-thumbnail {
  border-radius  : 8px;
  width          : 180px;
  height         : 270px;
  background-size: contain;
}

.skeleton {
  background     : linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation      : skeleton-animation 5s infinite ease-out;
  border-radius  : 8px;
}

.movie-thumbnail>.visibility-hidden-no-position {
  width : 0px !important;
  height: 0px !important;
}