* {
  box-sizing: border-box !important;
}

html {
  height: 100%;
}

body {
  padding-bottom: 48px;
  min-height: 100%;
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

#app {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 160px;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  width: 100%;
  min-width: 1200px;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box > input {
  border: 0;
}

header .search-box > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('../assets/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  width: 826px;
  height: 577px;
  left: 50%;
  top: 50%;

  background: #212122;
  border-radius: 8px;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.btn.primary.full-width {
  opacity: 0;
}

#movie-name {
  position: absolute;
  width: 100%;
  height: 24px;
  left: 32px;
  top: 18px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;

  color: #f1f1f1;
}

.modal-header button {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 758px;
  top: 12px;
  color: white;
  border-radius: 50%;
  border: solid #383839;
  background: #383839;
}

.modal-header {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #212122;
  border-bottom: 1px solid rgba(241, 241, 241, 0.25);
}

.modal-container .modal-item-thumbnail {
  width: 300px;
}

.modal-body {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  padding: 36px 32px;
}

.modal-body .movie-datas {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.data-overview {
  margin-top: 16px;
}

.modal-body .review-container {
  margin-top: auto;
}

.review-datas {
  background: #383839;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.star-box img {
  width: 24px;
  height: 24px;
  background: url('../assets/star_empty.png');
  background-size: contain;
  content-visibility: hidden;
}

/* 클릭되어 있는 별(.active)과 특정 이미지 뒤에 (.active)가 있으면 스스로 빛난다 */
.star-box img.active,
.star-box img:has(~ img.active) {
  background: url('../assets/star_filled.png');
  background-size: contain;
}

/* :hover 과 특정 이미지 기준으로 뒤에 :hover 가 있으면 빛난다 */
.star-box img:hover,
.star-box img:has(~ img:hover) {
  background: url('../assets/star_filled.png');
  background-size: contain;
}

/* :hover 뒤의 모든 이미지는 끈다 */
.star-box img:hover ~ img {
  background: url('../assets/star_empty.png');
  background-size: contain;
}

@media (max-width: 834px) {
  .item-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 834px;
    /* margin: 0 auto; */
  }

  .modal {
    position: fixed;
    width: 740px;
    height: 577px;
    left: 50%;
    top: 50%;

    background: #212122;
    border-radius: 8px;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  .modal-header button {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 681px;
    top: 12px;
    color: white;
    border-radius: 50%;
    border: solid #383839;
    background: #383839;
  }

  header {
    width: 100%;
    min-width: 834px;
    height: 72px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid white;
    margin-bottom: 48px;
  }

  .item-list {
    display: grid;
    margin: 48px 0;
    place-items: center;
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 64px;
    grid-row-gap: 64px;
  }
}

@media (max-width: 390px) {
  .item-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
  }

  header {
    width: 100%;
    min-width: 390px;
    height: 72px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid white;
    margin-bottom: 37px;
  }

  .modal-header button {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 347px;
    top: 12px;
    color: white;
    border-radius: 50%;
    border: solid #383839;
    background: #383839;
  }

  .item-list {
    display: grid;
    place-items: center;
    margin: 37px 0;
    grid-template-columns: repeat(2, 140px);
    grid-column-gap: 36px;
    grid-row-gap: 32px;
  }

  #movie-name {
    position: absolute;
    width: 326px;
    height: 24px;
    left: 32px;
    top: 18px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;

    color: #f1f1f1;
  }

  .modal {
    position: fixed;
    width: 390px;
    height: 485px;
    background: #212122;
    border-radius: 8px;
    z-index: 0;

    transform: translateX(-50%);
  }
  .modal-container .modal-item-thumbnail {
    display: none;
  }

  .modal-body {
    margin-top: auto;
    height: 370px;
  }
  .review-container {
    margin-top: 48px;
  }

  #search-input {
    width: 1px;
    transition: 0.5s;
  }

  .search-box {
    display: flex;
    justify-content: end;
  }

  #search-input:focus {
    width: 100%;
  }
}
