* {
  box-sizing: border-box !important;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}

*:focus {
  outline: none;
}
