* {
  box-sizing: border-box !important;
}

html {
  height: 100%;
}

body {
  padding-bottom: 48px;
  min-height: 100%;
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

#app {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 160px;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  width: 100%;
  min-width: 1200px;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box > input {
  border: 0;
}

header .search-box > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('../assets/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  width: 826px;
  height: 577px;
  left: 50%;
  top: 50%;

  background: #212122;
  border-radius: 8px;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.star {
  position: relative;
  font-size: 32px;
  color: #ddd;
  height: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  left: 12px;
  /* width: 160px; */
  /* height: 32px; */

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.star img {
  width: 24px;
  overflow: hidden;
}

.star input {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

.star span {
  width: 0;
  height: 25px;
  position: absolute;
  left: 0;
  color: red;
  overflow: hidden;
}

.btn.primary.full-width {
  opacity: 0;
}

.modal-header {
  box-sizing: border-box;

  position: absolute;
  width: 826px;
  height: 60px;
  left: 0px;
  top: 0px;

  background: #212122;
  border-bottom: 1px solid rgba(241, 241, 241, 0.25);
}

#movie-name {
  position: absolute;
  width: 762px;
  height: 24px;
  left: 32px;
  top: 18px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;

  color: #f1f1f1;
}

.modal-header button {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 758px;
  top: 12px;
  color: white;
  border-radius: 50%;
  border: solid #383839;
  background: #383839;
}

.modal-container .item-thumbnail {
  position: absolute;
  width: 292px;
  height: 433px;
  left: 32px;
  top: 96px;
}

#modal-star-average {
  width: 24px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #f1f1f1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#modal-star-image {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#modal-star-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 52px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#star-data {
  width: 9px;
  height: 24px;

  /* body */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;

  color: #f1f1f1;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

#star-text {
  width: 76px;
  height: 24px;

  /* body */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  color: #f1f1f1;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

#genre-data {
  width: 123px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #f1f1f1;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#movie-data-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 191px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#movie-data-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 438px;
  height: 184px;
  left: 356px;
  top: 96px;
}

#data-overview {
  width: 422px;
  height: 144px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #f1f1f1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;

  position: absolute;
  width: 438px;
  height: 64px;
  left: 356px;
  top: 465px;

  background: #383839;
  border-radius: 16px;
}

#review-datas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 331px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#review-container h4 {
  width: 50px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #f1f1f1;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* #button-round {
  position: absolute;
  left: 93.1%;
  right: 5.23%;
  top: 3.81%;
  bottom: 93.52%;

  background: #f1f1f1;
} */
