custom-header {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-bottom: 1px solid white;
  background-color: #222;
}

custom-header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  font-weight: bold;
  color: #f33f3f;
}

custom-header > .search-box {
  padding: 1%;
  border-radius: 4px;
  background: #fff;
}

custom-header .search-box > input {
  border: 0;
}

custom-header .search-input {
  border: none;
}

custom-header .search-button {
  border: 0;
  background: transparent no-repeat 0 1px;
}

custom-header .search-button img {
  width: 14px;
}
