.modal {
  display: none;
}

.modal--open {
  display: block;
}

.modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.6);
}

.modal-container {
  width: 70vw;
  height: 85vh;

  padding: 10px;

  border-radius: 8px;
  background: #212122;

  letter-spacing: 0.5px;
}

.modal-header {
  display: flex;
  align-items: center;
  position: relative;

  width: 100%;
  height: 60px;

  border-bottom: solid 1px rgba(241, 241, 241, 0.25);
}

.modal-header > .item-title {
  width: 100%;
  margin: 0;

  font-size: 1.5rem;
  text-align: center;
}

.modal-header > .escape-button {
  position: absolute;
  right: 0;
  margin-right: 30px;
  width: 36px;
  height: 36px;

  font-size: 1.4rem;
  border: none;
  border-radius: 66%;
  background: #383839;
  color: #f1f1f1;
}

.modal-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 90%;

  padding: 40px;
}

.modal-body .item-poster {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  max-width: 40%;
  height: auto;
  min-height: 100%;
}

.item-poster .item-thumbnail {
  width: 100%;
  height: 100%;

  border-radius: 8px;

  background-size: contain;
}

.modal-body .item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: auto;
  max-width: 50%;
  height: 100%;
}

.item-genre-score-overview {
  height: auto;
  min-height: 85%;
}

.modal-body .item-genre-score {
  display: flex;

  margin: 0 0 5% 0;
}

.item-genre {
  width: auto;
  max-width: 300px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 1.2rem;
}

.item-score-image {
  width: 20px;
  height: 20px;

  margin: 0 2% 0 5%;
}

.item-genre-score > .item-score {
  margin: 0;

  font-size: 1.2rem;
}

.item-overview {
  height: auto;
  max-height: 85%;

  font-size: 1rem;
  line-height: 1.5;

  overflow: hidden;
  text-overflow: ellipsis;
}

.self-grade {
  display: flex;
  align-items: center;

  width: auto;
  height: 60px;

  padding: 10px;

  background: #383839;
  border-radius: 8px;
}

.self-grade > .score-title {
  width: auto;
  max-width: 60px;

  margin-right: 15px;

  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.self-grade > .score {
  width: auto;
  max-width: 20px;

  margin: 0 15px;
  white-space: nowrap;
  overflow: hidden;
}

.self-grade > .score-message {
  width: auto;
  max-width: 200px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Mobile */
@media (max-width: 575px) {
  .modal-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 65vh;
  }

  .modal-header > .item-title {
    padding: 0 0 0 30px;
    text-align: start;
  }

  .modal-body {
    display: block;
    width: 100%;
  }

  .modal-body .item-poster {
    display: none;
  }

  .modal-body .item-info {
    justify-content: space-around;

    max-width: 100%;
    min-height: 100%;
  }

  .self-grade {
    justify-content: center;
  }

  .self-grade > .score-message {
    display: none;
  }
}
