main {
  width: 100vw;
  height: 100vh;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100vw;

  padding: 48px 10%;
}

.item-view h2 {
  margin-bottom: 30px;

  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.item-view .empty-movie-list-container {
  width: fit-content;
  height: fit-content;
}

.item-view .empty-movie-list-container h3 {
  padding: 5% 0;

  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
}

.item-view .empty-movie-list-container p {
  padding: 10px 0;

  font-size: 1rem;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 80px;
  grid-row-gap: 48px;

  width: 100%;
}

.item-card {
  display: flex;
  flex-direction: column;

  pointer-events: none;
}

.item-thumbnail {
  width: 100%;
  height: 100%;

  border-radius: 8px;

  background-size: contain;
}

.item-title {
  margin-top: 10%;

  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 5%;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 5%;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
