#modal-title {
  font-size: 32px;
  font-weight: 700;
}

.modal-text {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.18px;
}

.white {
  color: white;
}

.estimate-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.estimate-star {
  width: 2rem;
  cursor: pointer;
}

.estimate-number {
  color: #95a1b2;
}

.rate-text {
  margin-right: 10px;
  font-size: 100%;
}

@media (max-width: 450px) {
  .estimate-wrap {
    flex-direction: column;
    gap: 0px;
  }
}
