.movie-detail-container {
  display: flex;
  flex-direction: column;
  color: var(--grey-2);

  @media screen and (max-width: 739px) {
    height: 100%;
  }
}

.movie-detail-title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;

  border-bottom: 1px solid rgba(241, 241, 241, 0.25);
}

.movie-detail-title {
  min-width: 200px;
  min-height: 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.movie-detail-content {
  display: flex;
  gap: 32px;

  padding: 36px 32px 48px;

  @media screen and (max-width: 739px) {
    flex: 1;
    gap: 0;
  }
}

.movie-detail-poster {
  flex-shrink: 0;

  width: 292px;
  height: 433px;

  @media screen and (max-width: 919px) {
    width: 260px;
    height: 400px;
  }

  @media screen and (max-width: 739px) {
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.movie-detail-poster img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.movie-detail-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;

  font-size: 1rem;
  font-weight: 400;
}

.movie-detail-text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.movie-detail-text-content span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-detail-vote-average {
  gap: 4px;
}

.genre-info {
  display: flex;

  gap: 16px;

  min-width: 150px;
  min-height: 1rem;
}

.overview {
  padding-right: 16px;

  line-height: 1.5rem;

  min-width: 200px;
  min-height: 1.5rem;
  max-height: 300px;

  overflow-y: auto;
  overflow-x: hidden;
}
.movie-detail-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;

  width: 36px;
  height: 36px;
  margin: 12px 32px 12px 0px;

  border: none;
  border-radius: 50%;
  background-color: var(--grey-1);
}

.review-container {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 16px;

  border-radius: 16px;
  background-color: var(--grey-1);
}

.review-rate-container {
  display: flex;
  gap: 12px;
}

.my-stars {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.stars img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  .review-text {
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}
