.header-container {
  display: flex;
}

.search-bar {
  width: 525px;
  height: 36px;
  border-radius: 32px;
  border: 2px solid white;
  padding: 6px 16px;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.search-button {
  padding: 0;
  border: none;
  background: transparent;
}

.search-input {
  width: 90%;
  background-color: transparent;
  border: none;
}

h1.logo {
  font-size: 2rem;
  float: left;
}
