.error-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-self: center;
  align-items: center;
  width: 100%;
  padding: 60px 0;
}

.error-message__detail {
  width: 100%;
  color: var(--color-white);
  text-align: center;
}
