.error-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: center;
  align-items: center;
  width: 100%;
}

.empty-message__detail {
  color: var(--color-white);
}
