header {
  width: 100%;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

@media (max-width: 1280px) {
  .main-header * {
    gap: 30px;
  }
}
