@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.7;
  }
}

.skeleton-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: space-between;
  width: 1280px;
  gap: 50px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.skeleton-item {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skeleton-poster {
  width: 100%;
  height: 300px;
  background-color: #a9a9a9;
  border-radius: 5px;
  margin-bottom: 10px;
  animation: pulse 1.5s infinite;
}

.skeleton-description {
  width: 100%;
  height: 50px;
  background-color: #a9a9a9;
  border-radius: 5px;
  margin-bottom: 10px;
  animation: pulse 1.5s infinite;
}
