.movie-review-detail-modal {
  width: 826px;
  min-width: 480px;
  height: 577px;
  border: 0px;
  border-radius: 8px;
  margin: auto;
  padding: 0;
  background-color: #212122;
}

.movie-review-detail-modal .modal-container {
  width: 100%;
  height: 100%;
  background-color: #212122;
  display: flex;
  flex-direction: column;
}

.modal-review-detail-header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-radius: 8px 8px 0px 0px;
  padding: 18px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #f1f1f1;
  font-weight: 600;
}

.modal-review-detail-content {
  width: 100%;
  height: 517px;
  display: flex;
  align-items: center;
}

.modal-close-button {
  margin: 12px 32px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #383839;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-icon {
  stroke: #f1f1f1;
  fill: transparent;
  stroke-width: 5;
}

.movie-description-image {
  width: 356px;
  height: 433px;
  margin: 32px;
}

.modal-review-detail-section {
  width: 100%;
  height: 373px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-description-container {
  width: 422px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  color: #ffffff;
}

.movie-description-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.movie-genre {
  margin-right: 16px;
}

.movie-score {
  margin-left: 4px;
}

.movie-title-image {
  padding-bottom: 4px;
}

.movie-description-body {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  white-space: pre-wrap;
  overflow: scroll;
}

.movie-score-board {
  margin-top: 84px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 438px;
  height: 64px;
  background-color: #383839;
  color: #ffffff;
  padding: 20px 16px;
  border-radius: 16px;
}

.movie-score-board-title {
  font-weight: 700;
}

.movie-score-board-stars {
  display: flex;
  width: 160px;
  height: 32px;
  padding-bottom: 4px;
}

@media screen and (max-width: 674px) {
  .movie-review-detail-modal {
    position: sticky;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 674px;
    height: 485px;
  }

  .movie-review-detail-modal .modal-container {
    width: 100%;
    height: 100%;
    background-color: #212122;
    display: flex;
    justify-content: space-between;
  }

  .movie-description-image {
    display: none;
  }

  .modal-review-detail-section {
    width: 100%;
    height: 373px;
    min-width: 480px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .movie-description-container {
    width: 100%;
  }

  .modal-review-detail-content {
    width: 100%;
    height: 373px;
    display: flex;
    align-items: center;
  }

  .movie-score-board-need-rating {
    display: none;
  }

  .movie-score-board {
    margin-top: 44px;
    width: 100%;
  }
}
