@media (min-width: 500px) {
  #input-show-button {
    visibility: hidden;
  }
}

/* @media (max-width: 700px) {
  .search-box {
    background-color: pink;
    visibility: hidden;
  }
} */

.search-box {
  background: white;
  padding: 8px;
  border-radius: 4px;
  width: 280px;
}

.search-box-expanded {
  width: calc(100vw - 40px);
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: block;
}

#input-show-button {
  width: 48px;
  height: 44px;
  border: 4px;

  position: absolute;
  right: 30px;

  background-color: white;
  border-radius: 8px;
}

#input-show-button img {
  width: 20px;
  height: 20px;
}

#search-input {
  border: none;
  width: calc(100% - 20px);
}

#search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('../../assets/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}
