.search-box {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;

  background: #fff;
  padding: 8px;
  border-radius: 4px;
  width: 320px;
  height: 44px;

  z-index: 99;

  transition: all 0.3s ease-in-out;
}

.search-input {
  overflow: hidden;
  flex: 1;

  border: 0;
  font-size: 1rem;

  height: 24px;
  padding: 0;

  transition: all 0.3s ease-in-out;
}

.search-image {
  width: 100%;
  height: 100%;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  padding: 3px;

  background-color: #fff;

  border: 0;
}

.visibility-hidden {
  opacity: 0;
  width: 1px;
  margin: -1px;
}

.prevent-pointer-event {
  pointer-events: none;
}

@media screen and (max-width: 673px) {
  .search-box {
    width: 40px;
    gap: 0;
  }
}
