.search-box {
  background: white;
  border-radius: 4px;
  height: 40px;
}

.not-show {
  display: none !important;
}

.show {
  display: block;
}

#input-show-button {
  width: 37px;
  height: 35px;
  border: 4px;

  position: absolute;
  right: 30px;

  background-color: white;
  border-radius: 8px;
}

#input-show-button img {
  width: 20px;
  height: 20px;
}

#search-button {
  height: 40px;
  width: 40px;
  border-radius: 8px;
}

#search-icon {
  width: 20px;
  height: 20px;
}

#input-fold-button {
  width: 30px;
  height: 60px;
  color: white;
}

#search-input.search-input-expand {
  width: calc(100vw - 120px);
  animation: expand 0.5s linear;
}

#search-input {
  padding: 0 8px;
}

@media (max-width: 600px) {
  #search-input {
    display: none;
  }
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: calc(100vw - 120px);
  }
}

@keyframes shrink {
  from {
    width: calc(100vw - 120px);
  }
  to {
    width: 0;
  }
}
