@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.scroll-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--color-lightblue-90);
  color: var(--color-white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s;
}

.scroll-to-top-button:hover {
  background-color: #3cb6f8;
  animation: float 1s ease-in-out infinite;
}
