{
  "plugins": ["import"],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "type"],
        "newlines-between": "always",
        "pathGroups": [],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },

  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser"
}
