@import "public/styles/colors.css";
@import "public/styles/main.css";
@import "public/styles/modal.css";
@import "public/styles/reset.css";
@import "public/styles/tab.css";
@import "public/styles/thumbnail.css";
@import "src/components/header/header.css";
@import "src/components/hero/hero.css";
@import "src/components/button/button.css";
@import "src/components/fallback/fallback.css";
.show {
  display: block;
}

.hide {
  display: none;
}

.width-100 {
  width: 100%;
}
