.item-list {
  display: grid;
  justify-content: space-between;
  width: 100%;
  margin: 48px 0;
  grid-column-gap: 5vw;
  grid-row-gap: 48px;
}

@media (max-width: 767px) {
  .item-list {
    grid-template-columns: repeat(2, 180px);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .item-list {
    grid-template-columns: repeat(3, 180px);
  }
}

@media (min-width: 1200px) {
  .item-list {
    grid-template-columns: repeat(4, 180px);
  }
}

.item-card {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.item-card:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 0.5s;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score > img {
  padding-bottom: 4px;
}

.item-score::after {
  margin-left: 8px;
}
