.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 100%;
  margin: 0 auto 72px auto;
}

.item-view h2 {
  font-size: 34px;
  font-weight: bold;
  user-select: none;
}

.item-list {
  display: grid;
  margin: 60px 0;
  grid-template-columns: repeat(5, 180px);
  grid-column-gap: 64px;
  grid-row-gap: 64px;
}

/* @media (min-width: 1048px) and (max-width: 1200px) {
  .item-view h2 {
    font-size: 34px;
    font-weight: bold;
    padding-left: 64px;
    user-select: none;
  }
  .item-list {
    display: grid;
    margin: 48px 0;
    padding: 0 64px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 64px;
  }
} */

@media (min-width: 768px) and (max-width: 1200px) {
  .item-view h2 {
    font-size: 34px;
    font-weight: bold;
    padding-left: 32px;
    user-select: none;
  }

  .item-list {
    display: grid;
    margin: 48px 0;
    padding: 0 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 48px;
    grid-row-gap: 64px;
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  .item-view h2 {
    font-size: 28px;
    font-weight: bold;
    padding-left: 32px;
    user-select: none;
  }
  .item-list {
    display: grid;
    margin: 36px 0;
    padding: 0 32px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 36px;
  }
}

@media (max-width: 540px) {
  .item-view h2 {
    font-size: 28px;
    font-weight: bold;
    padding-left: 16px;
    user-select: none;
  }
  .item-list {
    display: grid;
    margin: 36px 0;
    padding: 0 16px;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 36px;
  }
}
