.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 100%;
  margin: 0 auto 72px auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 160px;
  grid-row-gap: 48px;
}
