.header {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  box-sizing: border-box;
}

.logo {
  z-index: var(--z-index-header);
  display: flex;
  justify-content: center;
}

.logo__img {
  cursor: pointer;
}

.header__searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-header);
}
