.thumbnail-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 70px;
}

.block {
  display: block;
}

@media (max-width: 768px) {
  /* 태블릿 */
  .thumbnail-list {
    grid-template-columns: repeat(3, 200px);
  }
  section h2 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* 모바일 */
  .thumbnail-list {
    grid-template-columns: repeat(1, 200px);
  }
  section h2 {
    text-align: center;
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column; /* 요소들을 세로로 배치 */
  align-items: center; /* 가로축 기준 중앙 정렬 */
}
