.item-view,
.item-test {
  width: 1200px;
}

.movie-section-title {
  margin: auto;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 48px auto;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 160px;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

@media screen and (max-width: 1280px) {
  .item-view {
    min-width: 1080px;
  }
  .item-list {
    grid-template-columns: repeat(3, 180px);
  }
}

@media screen and (max-width: 812px) {
  .item-view {
    min-width: 612px;
  }
  .item-list {
    grid-template-columns: repeat(2, 180px);
  }
}

@media screen and (max-width: 486px) {
  .item-view {
    min-width: 400px;
  }
  .item-list {
    grid-template-columns: repeat(2, 140px);
    grid-column-gap: 80px;
  }
  .item-thumbnail {
    width: 140px;
    height: 220px;
  }
  .item-title {
    font-size: 1rem;
  }
  .item-score {
    font-size: 1rem;
  }
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  visibility: hidden;
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 1s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.message {
  margin: 48px auto;
  text-align: center;
}

.message-title {
  font-size: 48px;
  padding: 12px;
}
