.not-found {
  width: 500px;
  height: 300px;
  text-align: center;
  
  /* align-items: center;
  justify-content: center; */
  gap: 30px;
}

#not-found-text {
  color: #fff;
}

#not-found-img {
  width: 100px;
  height: 100px;
}
