.recommend-box {
  background: #383839;
  padding: 5px;
  border-radius: 8px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.recommend-star-box {
  margin: 0 0.5rem;
}
.recommend-message {
  margin: 0 0.5rem;
}

@media (max-width: 768px) {
  .recommend-box {
    justify-content: space-evenly;
  }
  .recommend-message {
    display: none;
  }
}
