.toast-message {
  opacity: 1;
  visibility: visible;

  min-width: 300px;
  height: 50px;
  text-align: center;

  background-color: rgb(218, 66, 91);

  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  color: white;
  padding: 15px;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 3px 4px 11px 0px #00000040;
  transition: all 0.5s;
}

.hide-toast {
  animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
  animation-fill-mode: forwards;
}

/* #toast-message {
  display: inline-block;
  animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
  animation-fill-mode: forwards;
} */

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
