@import "./colors.css";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-bluegray-80);
}

#wrap,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin: 64px 0;
  margin-top: 0;
}

.star {
  width: 24px;
}

header{
  width: 100%;
  top: 0;
}

button {
  border: 0;
  padding: 8px 16px;
  cursor: pointer;
}

button.primary {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-lightblue-90);
  border-radius: 4px;
}

button.more {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-lightblue-90);
  width: 100%;
  padding: 10px 0px;
  border-radius: 8px;
  font-size: 24px;
}

#wrap {
  min-width: 1440px;
  background-color: var(--color-bluegray-100);
}

#wrap h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 64px;
  margin-bottom: 32px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.background-container {
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 500px;
  padding: 84px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  z-index: 1;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.top-rated-container {
  user-select: none;
  position: relative;
  z-index: 3;
  max-width: 1280px;
  margin: 0 auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  gap: 16px;
}
.contentContainer img {
  width: 72px;
  height: 64px;
}

.search-input {
  display: flex;
  width: 525px;
  padding: 6px 16px;
  border-radius: 32px;
  outline: none;
  border: 2px solid #d1d5db;
  color: #fff;
  background-color: transparent;
}

.search-input::placeholder {
  color: #fff;
}

.search-input:focus {
  outline: none;
}

.search-button {
  position: absolute;
  top: 50%;
  right: -20px;
  border: none;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.top-rated-movie {
  margin-top: 64px;
}

.top-rated-movie > *:not(:last-child) {
  margin-bottom: 8px;
}

h1.logo {
  font-size: 2rem;
}

.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

.rate > img {
  position: relative;
  top: 2px;
}

span.rate-value {
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.66rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

footer.footer {
  min-height: 180px;
  background-color: var(--color-bluegray-80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
}

footer.footer p:not(:last-child) {
  margin-bottom: 8px;
}

.logo-searchBar{
  width: 100%;
  position: absolute;
  display: flex;
  margin-left: 84px;
  top: 20px;
  z-index: 3;
}

.thumbnail.skeleton{
  width: 200px;
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.search-container {
  position: relative;
  left: 40%;
  transform: translate(-50%, 0); 
}
