@import "./colors.css";

.thumbnail-list {
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 70px;
}

.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

.item {
  user-select: none;
  cursor: pointer;
}

.item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  width: 16px;
  top: 1px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .thumbnail-list {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    animation: gridShift 0.7s ease-in-out;
    gap: 64px;
  }
}

@media screen and (max-width: 767px) {
  .background-container {
    height: 400px;
  }
  .overlay {
    height: 400px;
  }
  .banner {
    height: 400px;
  }
  .top-rated-movie {
    margin-top: 50px;
    position: absolute;

    top: 5rem;
  }
  .thumbnail-list {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    white-space: nowrap;
    animation: gridCollapse 0.7s ease-in-out;
  }

  #wrap h2 {
    font-size: 36px;
  }
}

@keyframes gridShift {
  0% {
    opacity: 0.5;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gridCollapse {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
