* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--content-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}

.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 120px;
  align-items: center;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

/* header */
header {
  position: fixed;
  width: 100%;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--content-color);
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: var(--primary-color);
}

#home-button {
  position: inherit;
  background-color: transparent;
  border: none;
}

header > .search-box {
  background: var(--content-color);
  padding: 8px;
  border-radius: 4px;
  display: flex;
}

.search-input {
  width: 300px;
  border: 0;
}

.search-open {
  width: 100px;
  transition: width 0.3s ease;
  z-index: 9;
  border: 0;
}

.search-close {
  width: 0px;
  padding: 0px;
  border: 0;
}

.search-button {
  width: 18px;
  height: 18px;
  border: 0;
  padding: 0;
}

#search-button-img {
  width: 18px;
  height: 18px;
}

/* ul */
.item-list {
  display: grid;
  justify-items: center;
  margin: 48px 0;
  grid-row-gap: 64px;
  grid-column-gap: 64px;
}

@media only screen and (max-width: 834px) {
  .item-list {
    grid-template-columns: repeat(2, 140px);
    /* 180px이었음 */
    grid-column-gap: 36px;
  }
  .item-card {
    width: 140px;
  }
  .item-thumbnail {
    width: 140px;
    height: 220px;
  }
  .item-title {
    font-size: 16px;
    font-weight: 600;
  }
}

@media only screen and (min-width: 834px) and (max-width: 1279px) {
  .item-list {
    grid-template-columns: repeat(3, 180px);
  }
}

@media only screen and (min-width: 1279px) {
  .item-list {
    grid-template-columns: repeat(4, 180px);
  }
}

/* button */
button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: var(--content-color);
}

button.primary {
  background: var(--primary-color);
}

/* skeleton */
@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
