* {
  box-sizing: border-box !important;
}

body {
  max-width: 100%;
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.item-view h2 {
  width: auto;
  margin-left: 5%;
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 48px 0;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  width: 180px;
  height: 270px;
  border-radius: 8px;
  background-size: contain;
  object-fit: cover;
}

.item-title {
  width: 180px;
  height: 2.2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
}

.item-score {
  display: flex;
  align-items: end;
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: "loading";
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  width: 100%;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

.search-input {
  border: 0;
}

.search-input-hidden {
  display: none;
}

header .search-box .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url("../images/search_button.png") transparent no-repeat 0 1px;
  background-size: contain;
}

.movie-list-title {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.unexpected-case-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.unexpected-case-image {
  width: 300px;
  object-fit: cover;
}

.unexpected-case-message {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

/* 모달 */
.modal:not(.modal-open) {
  display: none;
}

.modal-open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
}

.modal-backdrop {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 80%;
  height: 30rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #212122;
  line-height: 1.5rem;
  color: #f1f1f1;
}

.modal-content {
  height: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 0.7rem 1rem;
  border-bottom: 1px solid #333;
}

.modal-title {
  flex-grow: 1;
  font-size: 20px;
  text-align: center;
}

.close-button {
  padding: 0.3125rem 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: #383839;
  color: #f1f1f1;
}

.modal-body {
  display: flex;
  height: 90%;
  padding: 2rem;
}

.modal-image {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.modal-image img {
  height: 100%;
  object-fit: cover;
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.modal-image {
  display: flex;
  align-items: flex-start;
  margin-right: 1.5rem;
}

.modal-info > div {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.movie-rating {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.movie-overview {
  overflow: auto;
}

/* 별점 */
.star-rating-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin-top: auto;
  padding: 0.625rem;
  border-radius: 1rem;
  background-color: #383839;
}

.star-rating-container > div {
  margin-right: 0.625rem;
}
