:root {
  --light-black--: #222222;
  --red--: #f33f3f;
  --font--white--: #f1f1f1;
  --white--: #fff;
}

* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: var(--light-black--);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}

.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 912px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.alert-container {
  min-width: 827px;
  min-height: 592px;

  color: var(--font--white--);
}

.alert-message {
  margin: 24px auto;
}

.alert-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
}

.alert-sub-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 64px;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score-align-sort {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: var(--red--);
}

.hidden {
  display: none;
}

.scroll-lock {
  overflow: hidden;
}

.content-container .skeleton,
.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  width: 100%;
  height: 72px;
  background-color: var(--light-black--);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: var(--red--);
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box > input {
  border: 0;
}

header .search-box > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('../images/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

.remote-container {
  position: fixed;
  right: 20px;
  bottom: 20px;

  display: flex;
  flex-direction: column;
}

.remote-container > button {
  width: 50px;
  height: 70px;

  border: none;
  background: black;

  font-size: 30px;
  color: white;
}

.remote-container > button:hover {
  background: var(--red--);
}

#modal {
  width: 827px;
  max-height: 592px;

  border: none;
  padding: 0;
  background: #212122;
  border-radius: 8px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.modal-backdrop {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 877px;
  height: 577px;

  border-radius: 8px;
  background: #212122;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 916px) and (min-width: 671px) {
  body {
    font-size: 11.5px;
  }

  .item-view {
    max-width: 670px;
  }

  .item-list {
    display: grid;
    margin: 36px 0;
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 64px;
    grid-row-gap: 55px;
  }

  #modal {
    width: 740px;
    height: 580px;
  }
}

@media screen and (max-width: 670px) {
  body {
    font-size: 11.5px;
  }

  .item-view {
    max-width: 376px;
  }

  header {
    justify-content: end;
    position: relative;
  }

  header h1 {
    position: absolute;
    left: 20px;

    cursor: pointer;
    user-select: none;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    color: var(--red--);
  }

  header > .search-box {
    position: relative;

    width: 28px;
    height: 32px;

    background: #fff;
    padding: 8px;
    border-radius: 4px;

    z-index: 1;
  }

  header .search-box > input {
    position: absolute;
    left: 0;

    width: 0;

    border: 0;
    background: unset;
  }

  header .search-box > input:focus {
    width: 100%;
  }
  header .search-box:has(input:focus) {
    width: 100%;
  }
  header .search-box:not(:has(input:placeholder-shown)),
  header .search-box > input:not(:placeholder-shown) {
    width: 100%;
  }

  header .search-box > .search-button {
    position: absolute;
    right: 7px;

    width: 14px;
    border: 0;
    text-indent: -1000rem;
    background: url('../images/search_button.png') transparent no-repeat 0 1px;
    background-size: contain;
  }

  .item-list {
    display: grid;
    margin: 36px 0;
    grid-template-columns: repeat(2, 140px);
    grid-column-gap: 64px;
    grid-row-gap: 55px;
  }

  .item-thumbnail {
    border-radius: 8px;
    width: 140px;
    height: 220px;
    background-size: contain;
  }

  .item-title {
    margin-top: 16px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .item-score {
    margin-top: 16px;
    font-size: 1.2rem;
  }

  .remote-container {
    position: fixed;
    right: 20px;
    bottom: 20px;

    display: flex;
    flex-direction: column;
  }

  .remote-container > button {
    width: 30px;
    height: 50px;

    border: none;
    background: black;

    font-size: 20px;
    color: white;
  }
}
