* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 160px;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  width: 100%;
  /* min-width: 1200px; */
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box > form > input {
  border: 0;
}

header .search-box > form > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('./search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.35);
}

.modal-container {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;

  width: 650px;
  height: 350px;

  border-radius: 8px 8px 0px 0px;
  background: #222;
  transform: translateX(-50%) translateY(-50%);
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-title {
  padding: 12px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.exit-button {
  position: fixed;
  top: 12px;
  right: 8px;

  color: #fff;
  font-size: 16px;

  width: 24px;
  height: 24px;

  background-color: #3f3e3e;

  border: none;
  border-radius: 24px;
}

hr {
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.modal-contents {
  display: flex;
  flex-direction: row;

  padding: 16px 16px;
}

.modal-contents p {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
}

.modal-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow-y: auto;
  padding: 0px 20px;
}

.modal-genre-score {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-genre-score p {
  padding: 0 8px 0 0;
}

.modal-overview {
  padding: 16px 0;
  width: 400px;
}

.myscore-container {
  bottom: 20px;

  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 8px;
  border-radius: 8px 8px 8px 8px;

  background-color: #3f3e3e;
}

.myscore-container p {
  padding: 0 5px;
}

@media (max-width: 1400px) {
  .item-list {
    grid-template-columns: repeat(3, 1fr);
    overflow-y: hidden;

    grid-row-gap: 32px;
    grid-column-gap: 0px;
  }
}

@media (max-width: 800px) {
  .search-box {
    width: 150px;
    margin-left: 8px;
  }

  .search-form input {
    width: 110px;
    display: inline-block;
  }

  .item-view {
    padding: 0 0 0 32px;

    width: 100%;
  }

  .item-list {
    grid-template-columns: repeat(2, 1fr);
    overflow-y: hidden;

    grid-row-gap: 32px;
    grid-column-gap: 0px;
  }

  .item-list li {
    width: 160px;
  }

  .item-thumbnail {
    width: 140px;
    height: 200px;
  }

  .item-title {
    width: 140px;
  }

  .modal-container {
    width: 100%;
  }

  .modal-overview {
    width: 100%;
    overflow-y: auto;
  }

  .myscore-container {
    width: 100%;
    max-width: 320px;
    position: absolute;
    bottom: 32px;
  }
  .modal-container .item-thumbnail {
    display: none;
  }
}
