@import "./reset.css";

* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 160px;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  display: flex;
  align-items: end;
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: "loading";
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  width: 100%;
  min-width: 1200px;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box input {
  border: 0;
}

header .search-box .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url("../images/search_button.png") transparent no-repeat 0 1px;
  background-size: contain;
}

.movie-list-title {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.fallback-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
}
.fallback-image {
  width: 300px;
  margin: 0 auto;
}
.fallback-message {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.5rem;
}

.fallback-handle-button {
  background: #ef7e7e;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;

  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  width: 100%;
}

.network-error-fallback-modal {
  width: fit-content;
}

.network-error-fallback-modal h1 {
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
  max-width: 0 auto;

  margin-bottom: 10px;
}

/* Movie Detail Modal */
.movie-detail-modal {
  padding: 0;
}

.movie-detail-container {
  background: #212122;
  color: #f1f1f1;
  padding: 0;
  max-width: 700px;
}

.movie-detail-hr {
  margin: 0;
  background-color: rgba(241, 241, 241, 0.25);
  border: 0;
  height: 0.1px;
}

.movie-detail-title {
  font-size: 18px;
  font-weight: 600;

  width: fit-content;
  margin: 0 auto;

  padding: 18px;
}

.movie-detail-inner-wrapper {
  display: flex;
  padding: 35px 28px 45px 28px;
}

.movie-detail-poster {
  width: 220px;
  height: 330px;
  object-fit: cover;

  margin-right: 25px;
}
.movie-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-detail-genre {
  margin-right: 10px;
  font-weight: 200;
}

.movie-detail-vote {
  display: flex;
  align-items: center;
}

.movie-detail-star-icon {
  width: 20px;
  height: 20px;
  margin-right: 2.5px;
}

.movie-detail-overview {
  margin-top: 10px;
  line-height: 160%;
  font-weight: 200;
}

.flex-box {
  display: flex;
  align-items: center;
}

.modal-close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 11px;
  right: 25px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.modal-close-button-image {
  width: 100%;
}

.rating-bar {
  display: flex;
  background-color: #383839;
  width: 100%;
  padding: 14px 15px;
  align-items: center;
  border-radius: 16px;
  min-width: 360px;
}

.rating-label {
  margin-right: 10px;
  font-weight: 550;
}

.rating-star-container {
  display: flex;
}

.rating-star {
  width: 27px;
  height: 27px;
}

.rating-text {
  margin-left: 10px;
  font-weight: 200;
}

.movie-item {
  cursor: pointer;
}

.close {
  display: none;
}

/* rating bar */
input.rating-checkbox {
  display: none;
}

input.rating-checkbox + label {
  cursor: pointer;
}

/* label:before에 체크하기 전 상태 CSS */
input.rating-checkbox + label:before {
  width: 27px;
  height: 27px;
  content: "";
  display: inline-block;
  background-position: 50%;
  background-image: url("../images/star_empty.png");
  background-repeat: no-repeat;
}

/* label:before에 체크 된 상태 CSS */
input.rating-checkbox:checked + label:before {
  width: 27px;
  height: 27px;
  content: "";
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../images/star_filled.png");
}
