header {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto 1fr 130px;
  padding: 30px 40px;
  z-index: var(--z-header);
  width: 100%;
}

h1.logo {
  font-size: 2rem;
  display: block;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 525px;
  padding: 3px 20px;
  color: var(--color-white);
  font-size: 16px;
  border-radius: 30px;
  border: 2px solid var(--color-white);
  display: flex;
}

.search-bar button {
  background-color: transparent;
  border: none;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: white;
  flex: 1;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--color-white);
  }
}

@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .search-bar-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
