header {
  position: fixed;
  top: 0;
  z-index: 1;
  margin-bottom: 48px;
  border-bottom: 1px solid var(--white-color);
  background-color: var(--body-background-color);
  padding: calc((72px - 32px) / 2) 20px;
  width: 100vw;
  min-width: 1200px;
  height: 72px;
}

header h1 {
  cursor: pointer;
  color: var(--red-color);
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  user-select: none;
}
header .logo {
  border: none;
  background-image: url(../images/logo.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-color: inherit;
  width: 123px;
  height: 23px;
}

@media screen and (max-width: 1200px) {
  header {
    min-width: inherit;
  }
}

@media screen and (max-width: 480px) {
  header .logo {
    background-image: url(../images/logo_small.png);
    width: 26px;
  }
}
