.background-container {
  position: relative;
  background-position: center center;
  background-size: cover;
  padding: 48px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.top-rated-container {
  user-select: none;
  position: relative;
  max-width: 1280px;
  height: 350px;
  margin: 0 auto;
}

.top-rated-header {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.top-rated-search {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  margin: auto;
  border: 1.5px solid white;
  border-radius: 32px;
  width: 525px;
  max-width: 100%;
}

.top-rated-search-input {
  width: 100%;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  color: white;
}

.top-rated-search-input::placeholder {
  color: white;
}

.top-rated-search-button {
  background-color: transparent;
}

.top-rated-movie {
  margin-top: 64px;
}

.top-rated-movie > *:not(:last-child) {
  margin-bottom: 8px;
}

.top-rated-button {
  display: inline-flex;
}

h1.logo {
  position: absolute;
  font-size: 2rem;
  top: 10px;
}

span.rate-value {
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.66rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  word-break: keep-all;
}

/* 태블릿 화면 (768px ~ 1023px) */
@media screen and (max-width: 1023px) {
  .background-container {
    padding: 36px;
  }

  h1.logo {
    position: relative;
  }

  .top-rated-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
  }

  .top-rated-search {
    width: 80%;
    margin: 0 auto;
  }

  .top-rated-movie {
    margin-top: 48px;
  }

  .title {
    font-size: 2.5rem;
  }

  .top-rated-container {
    height: 300px;
  }
}

/* 모바일 화면 (767px 이하) */
@media screen and (max-width: 767px) {
  .background-container {
    padding: 24px;
  }

  .top-rated-search {
    width: 100%;
  }

  .top-rated-movie {
    margin-top: 32px;
  }

  .title {
    font-size: 2rem;
  }

  .top-rated-container {
    height: 250px;
  }

  span.rate-value {
    font-size: 1.25rem;
  }
}
