@import "./colors.css";
@import "./main.css";
@import "./modal.css";
@import "./reset.css";
@import "./tab.css";
@import "./thumbnail.css";

:root {
  --z-modal: 1000;
  --z-overlay: 1;
  --z-top-rated-movie: 2;
  --z-header: 10;
}
