@import './reset.css';

:root {
  --white: #ffffff;
  --black: #111111;
  --silver: #aaaaaa;
  --gray: #f0f0f0;
  --red: #f33f3f;
  --black-60: #00000099;
  --header-shadow: #ffffff33;
  --modal-black: #212122;
  --modal-white: #f1f1f1;
  --gray-darken: #383839;
  --gray-shadow: #f1f1f140;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding-bottom: 48px;
  color: var(--white);
  background-color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

.full-width {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.hide {
  display: none !important;
}
