@import './reset.css';

:root {
  --white: #ffffff;
  --black: #222222;
  --silver: #aaaaaa;
  --gray: #f0f0f0;
  --red: #f33f3f;
}

* {
  box-sizing: border-box;
}

body {
  padding-bottom: 48px;
  font-size: 14px;
  color: var(--white);
  background-color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

.item-view,
.item-test {
  width: 100%;
}

.full-width {
  width: 100%;
}
