@import "./colors.css";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-bluegray-80);
}

#wrap,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin: 64px 0;
}

button {
  border: 0;
  padding: 8px 16px;
  cursor: pointer;
}

button.primary {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-lightblue-90);
  border-radius: 4px;
}

#wrap {
  position: relative;
  min-width: 100dvw;
  background-color: var(--color-bluegray-100);
}

#wrap h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.empty {
  width: 123px;
}

h1.logo {
  font-size: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
