@import "./colors.css";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-bluegray-80);
}

.star {
  width: 24px;
}

button {
  border: 0;
  padding: 8px 16px;
  cursor: pointer;
}

button.primary {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-lightblue-90);
  border-radius: 4px;
}

#app {
  min-width: 1440px;
  background-color: var(--color-bluegray-100);
}

#app h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.container {
  max-width: 1280px;
  margin: 64px auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.header-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 0;
  align-items: center;
}

.header-wrapper .logo {
  cursor: pointer;
}

.header-wrapper::after {
  content: "";
  display: block;
  width: 200px;
  height: auto;
}

header .search-bar {
  border: 2px solid #d1d5db;
  width: 525px;
  height: 36px;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 16px;
  box-sizing: content-box;
}

.search-input {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border: none;
  caret-color: #fff;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}

.search-input:focus {
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.search-input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

.search-input:focus::placeholder {
  opacity: 0;
}

.search-button {
  background-color: transparent;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container {
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 500px;
  padding: 48px;
}

.background-container.search {
  visibility: hidden;
  height: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.background-thumbnail-wrapper.loading::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: skeleton-gradient 1.2s infinite;
  z-index: 1;
}

.background-thumbnail-wrapper.loading img {
  opacity: 0;
}
.background-thumbnail-wrapper:not(.loading) img {
  opacity: 1;
}

.background-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.top-rated-container {
  user-select: none;
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
}

.top-rated-movie {
  margin-top: 200px;
}

.top-rated-movie > *:not(:last-child) {
  margin-bottom: 25px;
}

h1.logo {
  font-size: 2rem;
}

.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

.rate > img {
  position: relative;
  top: 2px;
}

span.rate-value {
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.66rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.see-more {
  width: 100%;
  background-color: var(--color-lightblue-90, #0da9fd);
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.24px;
  cursor: pointer;
}

.empty-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer.footer {
  min-height: 180px;
  background-color: var(--color-bluegray-80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
}

footer.footer p:not(:last-child) {
  margin-bottom: 8px;
}

.skeleton {
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.list-title {
  width: 200px;
  height: 30px;
  border-radius: 8px;
}

@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
