@media (max-width: 1280px) {
  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 40px;
  }
  .thumbnail-list {
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    width: 100%;
    padding: 0 40px;
  }

  .section-container {
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
  }

  .top-rated-movie {
    margin-top: 80px;
  }

  .text-2xl {
    text-align: center;
  }

  .thumbnail-list {
    gap: 40px;
    place-items: center;
    margin: 0 auto 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .movie-description p {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }

  .skeleton-gradient {
    width: 100% !important;
    height: 300px !important;
  }

  .background-container {
    height: auto;
  }

  .rate {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .top-rated-movie {
    margin-top: 35px;
  }

  .rate img {
    width: 24px;
    height: 24px;
    bottom: 2px;
  }

  .text-3xl {
    font-size: 24px;
  }

  .text-2xl {
    font-size: 24px;
  }

  .text-lg {
    font-size: 20px;
  }

  .thumbnail-list {
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
  }

  .movie-description p {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .modal-container {
    flex-direction: column;
    align-items: center;
  }

  .modal-image {
    width: 550px;
    max-width: 30%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
  }

  .modal-description {
    margin-left: 0;
    margin-top: 16px;
  }

  .modal {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 80%;
    border-radius: 16px 16px 0 0;
    animation: slideUp 300ms ease-out forwards;
    overflow-y: auto;
  }

  .modal-info {
    align-items: center;
  }
}

@media (max-width: 680px) {
  .container {
    max-width: 680px;
  }

  .thumbnail-list {
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-rate {
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .movie-rate img {
    width: 24px;
    height: 24px;
  }

  .modal-my-rate {
    align-items: center;
  }

  button.primary {
    padding: 2px 10px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }

  .modal-image {
    display: none;
  }

  .rate {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .modal-my-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .modal-rate {
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .thumbnail-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .text-lg {
    text-align: center;
  }
}
