@import "./colors.css";

/* modal.css */
body.modal-open {
  overflow: hidden;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경을 위해 설정 */
  backdrop-filter: blur(10px); /* 블러 효과 적용 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  visibility: hidden; /* 모달이 기본적으로 보이지 않도록 설정 */
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-background.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: var(--color-bluegray-90);
  padding: 20px;
  border-radius: 16px;
  color: white;
  z-index: 2;
  position: relative;
  width: 1000px;
}

.close-modal {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-container {
  display: flex;
}

.modal-image img {
  width: 380px;
  border-radius: 16px;
}

.modal-description {
  width: 100%;
  padding: 8px;
  margin-left: 16px;
  line-height: 1.6rem;
}

.modal-description .rate > img {
  position: relative;
  top: 5px;
}

.modal-description > *:not(:last-child) {
  margin-bottom: 8px;
}

.modal-description h2 {
  font-size: 2rem;
  margin: 0 0 8px;
}

.detail {
  max-height: 430px;
  overflow-y: auto;
}

.star-container {
  display: flex;

  justify-content: start;
  align-items: center;
}

.stars {
  min-width: 250px;
}
.rate-comment {
  flex-shrink: 0;
}

.modal-image-skeleton {
  width: 380px;
  height: 570px;
  border-radius: 16px;
  background-color: var(--color-bluegray-80);
}

@media (max-width: 800px) {
  .modal-background {
    align-items: end;
  }

  .modal-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modal-description hr {
    width: 100%;
  }

  .modal-image img {
    width: 200px !important;
    border-radius: 16px;
  }

  .my-rate {
    width: 100%;
  }
}

@media (max-width: 390px) {
  .modal-image img {
    display: none;
  }

  .my-rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .star-container {
    flex-direction: column;
  }
}
