@import "./colors.css";

/* modal.css */
body.modal-open {
  overflow: hidden;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경을 위해 설정 */
  backdrop-filter: blur(10px); /* 블러 효과 적용 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden; /* 모달이 기본적으로 보이지 않도록 설정 */
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-background.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: var(--color-bluegray-90);
  padding: 20px;
  border-radius: 16px;
  color: white;
  z-index: 2;
  position: relative;
  width: 1000px;
}

.close-modal {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-container {
  display: flex;
}

.modal-image img {
  width: 380px;
  border-radius: 16px;
}

.modal-description {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  padding: 8px;
  margin-left: 16px;
  line-height: 1.6rem;
  font-size: 20px;
}

.modal-description hr {
  width: 100%;
  height: 1px;
  border: 0;

  background: var(--color-bluegray-30);
}

.modal-description > .rate {
  margin-right: 16px;

  display: flex;
  align-items: center;

  color: var(--color-ffffff);
  font-weight: 400;
  font-size: 20px;

  line-height: 1.2rem;
}

.modal-description > .rate > img {
  margin-left: 16px;
  margin-bottom: 3px;
  margin: 0 5px 3px 16px;

  width: 24px;
  height: 24px;
}

.modal-description > .rate > span {
  color: var(--color-yellow);
}

.modal-description h2 {
  font-size: 2rem;
  margin: 0 0 8px;
}

.modal-description h3 {
  color: var(--color-ffffff);
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.18px;
}

.modal-description .detail {
  max-height: 430px;
  overflow-y: auto;
}

.voting-rate {
  width: 100%;

  display: flex;
  align-items: center;

  white-space: nowrap;
}

.rate-message {
  margin-left: 16px;
}

.rate-message > span {
  margin-left: 5px;

  color: var(--color-bluegray-30);
}

.star-marks-container {
  display: flex;
}

.star-mark {
  width: 32px;

  background: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .modal {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-image img {
    width: 200px;
    height: 300px;
    margin: 20px 0;
  }

  .modal-description {
    align-items: center;
  }

  .modal-description h3 {
    align-self: flex-start;
    margin: 10px 0;
  }

  .modal-description .detail {
    align-self: flex-start;
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .modal-image img {
    display: none;
  }

  .modal-description h2 {
    margin: 30px 0 8px;
  }

  .modal-description h3 {
    align-self: center;
  }

  .modal-description > .category {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .modal-description > .rate {
    margin: 0;
  }

  .voting-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .voting-rate > p {
    margin: 0;
    font-weight: 500;
  }
}
