@import "./colors.css";

.modal {
  position: relative;
  width: 960px;
  background-color: var(--color-bluegray-90);
  border: 0;
  border-radius: 16px;
  color: var(--color-white);
  padding: 32px 24px;
}

.modal::backdrop {
  backdrop-filter: blur(8px);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  padding: 0;
  background: 0;
}

.modal-body {
  display: flex;
  gap: 24px;
}

.modal-movie-poster img {
  width: 500px;
  border-radius: 16px;
  aspect-ratio: 2/3;
}

.modal-movie-content {
  font-size: 20px;
  font-weight: 400;
}

.modal-movie-content>div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid var(--color-bluegray-30);
  padding: 16px 0;
}

.modal-movie-content>div:first-child {
  border: 0;
}

.modal-movie-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-movie-header>p,
.modal-movie-header>p>span,
.modal-movie-header>p>span>span {
  display: flex;
  align-items: flex-end;
}

.modal-movie-title {
  font-size: 32px;
  font-weight: 700;
}

.modal-movie-rate {
  display: flex;
  gap: 8px;
}

.modal-movie-rate>span {
  display: flex;
  gap: 4px;
}

.modal-movie-rate img {
  width: 24px;
  height: 24px;
}

.modal-movie-rate-value {
  color: var(--color-yellow);
  font-weight: 600;
}

.modal-movie-content-title {
  font-size: 24px;
  font-weight: 600;
}

.modal-movie-my-rating-body {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal-movie-my-rating-selector {
  display: flex;
  gap: 8px;
  align-items: center;
}

.modal-movie-my-rating-selector>button {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background: 0;
  background-image: url('/images/star_sprites.png');
  background-size: cover;
  background-position: 0px 0px;
}

.modal-movie-my-rating-selector[data-rating="2"]>button:nth-of-type(1) {
  background-position: 31.5px 0px;
}

.modal-movie-my-rating-selector[data-rating="4"]>button:nth-of-type(1),
.modal-movie-my-rating-selector[data-rating="4"]>button:nth-of-type(2) {
  background-position: 31.5px 0px;
}

.modal-movie-my-rating-selector[data-rating="6"]>button:nth-of-type(1),
.modal-movie-my-rating-selector[data-rating="6"]>button:nth-of-type(2),
.modal-movie-my-rating-selector[data-rating="6"]>button:nth-of-type(3) {
  background-position: 31.5px 0px;
}

.modal-movie-my-rating-selector[data-rating="8"]>button:nth-of-type(1),
.modal-movie-my-rating-selector[data-rating="8"]>button:nth-of-type(2),
.modal-movie-my-rating-selector[data-rating="8"]>button:nth-of-type(3),
.modal-movie-my-rating-selector[data-rating="8"]>button:nth-of-type(4) {
  background-position: 31.5px 0px;
}

.modal-movie-my-rating-selector[data-rating="10"]>button:nth-of-type(1),
.modal-movie-my-rating-selector[data-rating="10"]>button:nth-of-type(1),
.modal-movie-my-rating-selector[data-rating="10"]>button:nth-of-type(2),
.modal-movie-my-rating-selector[data-rating="10"]>button:nth-of-type(3),
.modal-movie-my-rating-selector[data-rating="10"]>button:nth-of-type(4),
.modal-movie-my-rating-selector[data-rating="10"]>button:nth-of-type(5) {
  background-position: 31.5px 0px;
}

.modal-movie-my-rating-message {
  display: none;
}

.modal-movie-my-rating-selector[data-rating="2"]+.modal-movie-my-rating-messages>.modal-movie-my-rating-message[data-rating="2"] {
  display: block;
}

.modal-movie-my-rating-selector[data-rating="4"]+.modal-movie-my-rating-messages>.modal-movie-my-rating-message[data-rating="4"] {
  display: block;
}

.modal-movie-my-rating-selector[data-rating="6"]+.modal-movie-my-rating-messages>.modal-movie-my-rating-message[data-rating="6"] {
  display: block;
}

.modal-movie-my-rating-selector[data-rating="8"]+.modal-movie-my-rating-messages>.modal-movie-my-rating-message[data-rating="8"] {
  display: block;
}

.modal-movie-my-rating-selector[data-rating="10"]+.modal-movie-my-rating-messages>.modal-movie-my-rating-message[data-rating="10"] {
  display: block;
}

.modal-movie-my-rating-message {
  font-weight: 600;
}

.modal-movie-my-rating-message-score {
  color: var(--color-bluegray-30)
}

.modal-movie-plot-body {
  font-size: 24px;
  line-height: 150%;
  font-weight: 300;
}

@media (width <=768px) {
  .modal {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    margin: 0;
    align-self: end;
  }

  .modal-body {
    flex-direction: column;
  }

  .modal-movie-poster,
  .modal-movie-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-movie-poster img {
    width: 200px;
  }
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0);
  border-top-color: var(--color-yellow);
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}