.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  margin: 48px 0;
  grid-column-gap: 160px;
  grid-row-gap: 48px;
}
.movie-list li:last-child {
  display: block;
  grid-column: 1 / -1;
}
.movie-list .movie-card {
  display: flex;
  flex-direction: column;
}

.movie-list .movie-thumbnail {
  border-radius: 8px;
  background-size: contain;
  aspect-ratio: 2/3;
  width: 100%;
  object-fit: cover;
}

.movie-list .movie-title {
  margin-top: 16px;
  font-weight: bold;
  font-size: 1.2rem;
}

.movie-list .movie-score {
  margin-top: 16px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  img {
    margin-right: 5px;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.movie-list .movie-score::after {
  margin-left: 8px;
}

/*none movie*/
.movie-list.no-movie-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 72px - 32px - (48px * 3));
  li {
    font-size: 24px;
    text-align: center;
  }
  img {
    opacity: 0.5;
    margin: 2rem 0;
    width: 250px;
    height: 250px;
  }
}
.movie-list__last-item.scroll-observer-target {
  .no-more-movie-data {
    display: none;
  }
}
.no-more-movie-data {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  font-size: 1.2rem;

  img {
    margin-right: 14px;
    width: 2rem;
    height: 2rem;
  }

  div {
    width: fit-content;
  }
}

.scroll-observer-target {
  height: 10px;
}

@media screen and (max-width: 1023px) {
  .movie-list {
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 55px;
    grid-row-gap: 64px;
  }
}

@media screen and (max-width: 600px) {
  .movie-list {
    grid-template-columns: repeat(2, 140px);
    grid-column-gap: 56px;
    grid-row-gap: 36px;
  }
}

@media screen and (max-width: 320px) {
  .movie-list {
    grid-template-columns: repeat(2, 110px);
    grid-column-gap: 65px;
    grid-row-gap: 36px;
  }
  .movie-list .movie-title,
  .movie-list .movie-score {
    font-size: 1rem;
  }

  .movie-list .movie-score img {
    width: 1rem;
    height: 1rem;
  }
}
