header > .search-box {
  display: flex;
  background: var(--white-color);
  padding: 8px;
  border-radius: 4px;
  width: fit-content;
}

header .search-box input {
  border: 0;
}

header .search-box > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url("../../templates/search_button.png") transparent no-repeat 0
    1px;
  background-size: contain;
}
