header > .search-box {
  display: flex;
  border-radius: 4px;
  background: var(--white-color);
  padding: 8px;
  width: fit-content;
}

header .search-box input {
  border: 0;
}

header .search-box > .search-button {
  border: 0;
  background: url('../../templates/search_button.png') transparent no-repeat 0
    1px;
  background-size: contain;
  width: 14px;
  text-indent: -1000rem;
}
