@keyframes skeleton-loading {
  0% {
    background-color: var(--color-bluegray-80);
  }
  100% {
    background-color: var(--color-bluegray-70);
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 8px;
}

/* TODO: 스켈레톤도 반응형으로 수정 */
