:root {
  --body-background-color: #222222;
  --primary-red-color: #f33f3f;
  --soft-red-color: #d13c32;
  --cream-red-color: #ffd6d3;
  --white-color: rgb(255, 255, 255);
  --modal-contents-color: #383839;
  --modal-background-color: rgba(0, 0, 0, 0.6);
  --modal-inner-box-color: #545353;
  --header-z-index: 1;
  --modal-z-index: 1;
  --modal-container-z-index: 10;
}
