.text-md {
  font-size: 14px;
}

.text-lg {
  font-size: 1rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 2rem;
}

.text-3xl {
  font-size: 4rem;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
