@import "./colors.css";

.thumbnail-list {
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 72px;
}

@media screen and (max-width: 1310px) {
  .thumbnail-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 53px;
  }
}

@media screen and (max-width: 1050px) {
  .thumbnail-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 769px) {
  .thumbnail-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 653px) {
  .thumbnail-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 70px;
  }
}

.thumbnail {
  width: 100%;
  aspect-ratio: 2 / 3;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.item {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.item-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  width: 18px;
  height: 18px;
  top: 1px;
}
