@import './colors.css';

.thumbnail-list {
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  gap: 70px;
  justify-content: center;
}

@media (min-width: 600px) {
  .thumbnail-list {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 800px) {
  .thumbnail-list {
    grid-template-columns: repeat(3, 200px);
  }
}
@media (min-width: 1120px) {
  .thumbnail-list {
    grid-template-columns: repeat(4, 200px);
  }
}

@media (min-width: 1440px) {
  .thumbnail-list {
    grid-template-columns: repeat(5, 200px);
  }
}

.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

.item {
  user-select: none;
  cursor: pointer;
}

.item-desc {
  margin-top: 4px;
}

.item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

p.rate {
  display: flex;
  align-items: baseline;
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  width: 16px;
  top: 1px;
}

.yellow {
  color: var(--color-yellow);
}
