@import "./colors.css";

.thumbnail-list {
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 70px;
}

.thumbnail {
  cursor: pointer;
  width: 200px;
  height: 300px;
  border-radius: 8px;
  background: linear-gradient(
    140deg,
    var(--color-bluegray-90) 40%,
    var(--color-bluegray-80) 50%,
    var(--color-bluegray-90) 60%
  );
  background-size: 300%;
  animation: glow 3s infinite linear;
}

.item {
  user-select: none;
  cursor: pointer;
}

.item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  width: 16px;
  top: 1px;
}

.no-thumbnail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 1439px) {
  .thumbnail-list {
    margin: 0 auto 56px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 50px;
  }
}

@media screen and (max-width: 1023px) {
  .thumbnail-list {
    margin: 0 auto 56px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .thumbnail-list {
    margin: 0 auto 56px;
    display: grid;
    grid-template-columns: repeat(1, 200px);
    gap: 40px;
  }
}
