header {
  width: 100%;
  height: 72px;
  background-color: #222;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 48px;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
  cursor: pointer;
  user-select: none;
}

.search-button {
  width: 14px;
  margin: 0 4px;
  border: 0;
  background: url('../../../assets/images/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
  text-indent: -1000rem;
}

@media (max-width: 767px) {
  .search-form > input {
    width: 0;
  }
}

@media (min-width: 768px) {
  header h1 {
    display: block !important;
  }

  .search-form {
    width: 320px !important;
  }

  .search-form > input {
    width: 100%;
  }
}

.hide {
  display: none;
}

.search-form {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 38px;
  transition: width 0.5s ease;
  padding: 8px;
  background: #fff;
  border-radius: 4px;
}

.search-form > input {
  padding: 0;
  border: 0;
}
