.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/*토스트 메시지*/
#toast_message {
  opacity: 0;
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 50px;
  background: rgba(210, 151, 151, 0.7);
  border-radius: 100px;
  color: #fff;
  box-shadow: 3px 4px 11px 0px #00000040;
  transition: all 0.5s;
}

/*토스트 메시지 활성화 되었을 때*/
#toast_message.active {
  opacity: 100%;
  bottom: 50px;
}
