.item-view {
  display: flex;
  flex-direction: column;
  width: 920px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.item-list {
  margin: 48px 0;
}

.grid {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(4, 182px);
  row-gap: 64px;
  column-gap: 64px;
}

button.primary {
  background: var(--primary);
}

@media screen and (max-width: 919px) {
  .item-view {
    width: 674px;
  }

  .grid {
    grid-template-columns: repeat(3, 182px);
    column-gap: 55px;
  }
}

@media screen and (max-width: 673px) {
  .item-view {
    width: 316px;
  }

  .grid {
    grid-template-columns: repeat(2, 140px);
    row-gap: 36px;
    column-gap: 32px;
  }
}
