/* skeleton */
.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.item-card {
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.item-card:hover {
  transform: scale(1.1);
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

@media (max-width: 1100px) {
  .item-thumbnail {
    border-radius: 8px;
    width: 180px;
    height: 270px;
    background-size: contain;
  }
  .item-title {
    margin-top: 16px;
    font-size: 1rem;
    font-weight: bold;
  }

  .item-score {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 8px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .item-thumbnail {
    border-radius: 8px;
    width: 34vw;
    height: 51vw;
    background-size: contain;
  }

  .item-title {
    margin-top: 2vw;
    font-size: 4vw;
    font-weight: bold;
  }

  .item-score {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2vw;
    font-size: 4vw;
  }
}
