.item-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.item-card:hover {
  transform: translateY(-20px);
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
}

.star-start {
  margin-left: 5px;
  vertical-align: middle;
}

/* skeleton */
.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}
