.item-list {
  display: grid;
  margin: 48px 0;
  justify-content: space-between;
}

/* 데스크탑 규격 */
@media screen and (min-width: 1024px) {
  .item-list {
    grid-template-columns: repeat(4, 180px);
    grid-row-gap: 48px;
  }
}

/* tablet 규격 */
@media screen and (min-width: 650px) and (max-width: 1023px) {
  .item-list {
    grid-template-columns: repeat(3, 180px);
    grid-row-gap: 48px;
  }
}

/* mobile 규격 */
@media screen and (max-width: 650px) {
  .item-list {
    grid-template-columns: repeat(2, 140px);
    grid-row-gap: 32px;
    margin: 24px 0;
  }
}

.item-list.none-text {
  display: block;
  line-height: 25px;
}

.item-list.none-text h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  background-size: contain;
  cursor: pointer;
}

/* 데스크탑 규격 */
@media screen and (min-width: 1024px) {
  .item-thumbnail {
    width: 180px;
    height: 270px;
  }
}

/* tablet 규격 */
@media screen and (min-width: 651px) and (max-width: 1023px) {
  .item-thumbnail {
    width: 180px;
    height: 270px;
  }
}

/* mobile 규격 */
@media screen and (max-width: 650px) {
  .item-thumbnail {
    width: 140px;
    height: 220px;
  }
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}
