#star-vote-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 385px;
  height: 64px;
  background-color: var(--grey-4);
  border-radius: 16px;
  position: absolute;
  bottom: 0;
  gap: 5px;
}

#star-container {
}

#score-info {
  width: 150px;
}
