.modal {
  display: none;
}

.modal--open {
  display: flex;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.35);
}

.modal-container {
  position: relative;

  z-index: 1000;
  background: #212122;

  width: 80%;
  min-width: 740px;
  max-width: 826px;
}

.modal-title {
  margin-bottom: 36px;
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 32px;

  border: 0;
  background: url('../../../statics//images/modal-close-btn.png') transparent
    no-repeat;
  background-size: contain;

  width: 36px;
  height: 36px;
}

.modal-close-btn:hover {
  cursor: pointer;
}

/* 너비가 768px 이하일 때 적용 */
@media screen and (max-width: 768px) {
  .modal-container {
    position: absolute;
    bottom: 0;

    border-radius: 16px 16px 0px 0px;

    padding: 32px 16px;

    width: 100%;
    height: fit-content;
    max-height: 90%;
  }
}
