button.btn {
  display: block;
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

button.hide {
  display: none;
}

.full-width {
  width: 100%;
}
