.modal {
  display: none;
}

.modal--open {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  @media screen and (max-width: 739px) {
    align-items: flex-end;
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: var(--background);

  width: 826px;
  height: 577px;

  border-radius: 8px;

  z-index: 99;

  @media screen and (max-width: 919px) {
    width: 740px;
  }

  @media screen and (max-width: 739px) {
    position: relative;
    width: 100%;
  }
}
