.star-rating {
  display: flex;
  align-items: center;
}

.star-score {
  margin-left: 12px;
}

.score-ment {
  margin-left: 12px;
}

.text-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
