.star-rating__radio {
  display: none;
}

.star-rating__empty-icon {
  width : 32px;
  height: 32px;
}

.star-rating__filled-icon {
  width : 32px;
  height: 32px
}

.star-rating {
  height : 32px;
  display: flex;

  flex-direction: row;
}