.top-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  margin: 0 20px 20px 0;

  bottom: 0;
  right: 0;

  border: none;
  border-radius: 50%;
  font-weight: 500;
  font-size: 1.25rem;
  background-color: var(--grey-1);

  cursor: pointer;

  box-shadow: rgba(243, 63, 63, 0.56) 0 0 10px 5px;

  transition: all 0.2s ease-in-out;
}

.hide-top-button {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
