.thumbnail-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .thumbnail-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .thumbnail-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .thumbnail-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
