.error-fallback-modal > .modal-container {
  width: 500px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  white-space: pre;
  text-align: center;
  line-height: 28px;
  font-size: 24px;

  padding: 24px 16px;

  background: #ffffff;

  /* Firefox & IE & Edge */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.error-fallback-modal > .modal-container > div {
  margin: 20px 0px;
}

/* Chrome, Safari */
.error-fallback-modal > .modal-container::-webkit-scrollbar {
  display: none;
}

.error-fallback-modal > .warning-image {
  width: 100px;
}
