.button-box {
  display: flex;
  gap: 20px;
}

#retry-button {
  width: 120px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
}

#home-button {
  width: 120px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(139, 139, 139);
}

#error-title {
  font-size: 20px;
}

@media (max-width: 600px) {
  #error-title {
    max-width: 300px;
    height: 50px;
  }
}
