.modal-description {
  width: 100%;
  padding: 8px;
  margin-left: 16px;
  line-height: 1.6rem;
}

.modal-description .rate > img {
  position: relative;
  top: 5px;
}

.modal-description > *:not(:last-child) {
  margin-bottom: 8px;
}

.modal-description h2 {
  line-height: normal;
}

.modal-description h2 {
  font-size: 2rem;
  margin: 0 0 8px;
}

.average-container {
  display: flex;
  align-items: center;
}

.average-info-text {
  color: white;
}

.detail {
  max-height: 430px;
  overflow-y: auto;
}

.overview-text {
  font-size: 20px;
  font-weight: bold;
}
