#title {
    font-size: 1.2rem;
    font-weight: bold;
}

.modal {
    display: none;

    &.open {
        display: block;
    }
}

.detail-modal-container {
    position: fixed;
    min-width: 650px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 16px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    border-radius: 16px;
    background-color: rgb(49, 46, 46);
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}


.detail-modal-backdrop {
    position: fixed;
    inset: 0;
    z-index: 1;

    background: rgba(0, 0, 0, 0.35);
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;

    padding-bottom: 20px;
    border-bottom: 2px solid #F1F1F140;
}

.thumbnail {
    width: 100%;
    height: auto;
}

.information-container {
    display: flex;
    gap: 30px;
    padding: 16px;
}

.movie-information {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.movie-information-header {
    display: flex;
    gap: 20px;
}

.thumbnail-container {
    display: flex;
    flex-basis: 30%;
}

.score-container {
    display: flex;
    gap: 10px;
}

.star-icon {
    width: 16px;
    height: 16px;
}

.user-star-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.description {
    line-height: 24px;
}

.movie-information-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #383839;
    border-radius: 10px;
}

@media (max-width: 750px) {
    .detail-modal-container {
        min-width: 0;
        font-size: 14px;
    }

    .thumbnail-container {
        display: none;
    }

    .information-container {
        justify-content: center;
    }

    .description {
        word-break: break-all;
        word-wrap: break-word;
        text-overflow: clip;
    }

    #score-text {
        display: none;
    }
}

@media (max-width: 400px) {
    .description {
        font-size: 12px;
    }

    .user-star-icon {
        width: 12px;
        height: 12px;
    }
}
