dialog[open] {
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  background-color: #212122;
  color: #f1f1f1;
  border: none;
  border-radius: 8px;
  min-width: 390px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  overflow: hidden;
}

#detail-modal--body-img {
  display: none;
  width: 40%;
}

@media screen and (min-width: 834px) {
  dialog[open] {
    width: 60%;
    min-width: 840px;
    margin-top: 5%;
    margin-bottom: 100%;
  }

  #detail-modal--body-img {
    display: block;
  }
}

#detail-modal--header {
  display: grid;
  grid-template-columns: 9fr 1fr;
  border-bottom: 1px solid rgba(241, 241, 241, 0.25);
  height: 60px;
  padding: 0 16px 0 32px;
  align-items: center;
  justify-items: end;
}

#detail-modal--title {
  text-align: start;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.15px;
  width: 100%;
}

@media screen and (min-width: 834px) {
  #detail-modal--title {
    font-size: 20px;
    text-align: center;
  }
}

#detail-modal--close-btn {
  background-color: #383839;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 36px;
  aspect-ratio: 1;
}

#detail-modal--body {
  display: flex;
  gap: 32px;
  padding: 32px;
}

#detail-modal--contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#detail-modal--info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-size: 16px;
}

#detail-modal--info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#detail-modal--vote {
  display: flex;
  align-items: center;
  gap: 4px;
}

#detail-modal--overview {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

#detail-modal--rating {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  border-radius: 16px;
  background-color: #383839;
  padding: 16px;
  gap: 12px;
  align-items: center;
  justify-items: center;
  margin-top: 48px;
  width: 100%;
}

#detail-modal--label {
  font-weight: bold;
}

@media screen and (max-width: 834px) {
  #detail-modal--rating-label {
    display: none;
  }
}

@media screen and (min-width: 834px) {
  #detail-modal--rating {
    grid-template-columns: 2fr 5fr 1fr 3fr;
    gap: 16px;
    font-size: 16px;
  }
}

.rating-star {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 834px) {
  .rating-star {
    width: 32px;
    height: 32px;
  }
}

.body-fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
