.modal {
  display: none;
  z-index: 10;
}

.modal--open {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.35);
}

.modal-container {
  box-sizing: border-box;
  position: fixed;
  inset: 50%;
  transform: translate(-50%, -50%);
  width: 740px;
  height: 544px;

  border-radius: 8px;
  background: var(--grayscale-500);
}

.movie-detail-header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: 100%;

  border-bottom: 1px solid var(--border);
}

.movie-detail-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

.detail-items {
  display: flex;
  gap: 32px;

  padding: 36px 32px 48px 32px;
}

.detail-poster {
  width: 260px;
  height: 390px;
}

.detail-contents {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
}

.detail-genre-score {
  display: flex;
  gap: 16px;

  height: 20px;
}

.detail-score-container {
  display: flex;
  gap: 6px;
}

.detail-overview {
  height: 100%;
}
