.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  width: 45%;
  height: 65%;
  box-sizing: border-box;

  /* overflow: auto; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  min-width: inherit;
  background-color: #222;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.modal-title {
  flex-grow: 1;
  color: white;
  text-align: center;
}

.modal-close-btn {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
}

.modal-close-btn img {
  width: 100%;
  height: auto;
}

/* 모달 본문 */

.modal-content {
  background-color: #212122;
  display: flex;
  color: white;

  height: calc(100% - 2rem);

  padding: 1rem;
  margin: 0;
}

.modal-item-thumbnail {
  margin-top: 1rem;
  height: 90%;
}

.tab-section {
  display: flex;
  align-items: stretch;
}

.tab-section > * {
  display: flex;
  align-items: stretch;
}

.modal-genres {
  height: 100%;
  margin: 1rem 0.6rem 1rem 2rem;
}

.modal-item-score-wrapper {
  height: 100%;
  margin: 1rem 0.1rem 1rem 0.6rem;
}

.modal-item-score {
  margin-left: 0.3rem;
}

.modal-movie-overview-wrapper {
  margin: 0.2rem 2rem 3rem 1.5rem;
  padding: 0rem 0.5rem 1rem;
  overflow-y: auto;
  max-height: 58%;
  /* max-height: calc(100% - 10rem); */
}

/* 별점 */
.my-score-section {
  background-color: #383839;
  display: flex;
  border-radius: 12px;
  margin: 1rem 2rem;
  padding: 0.7rem 2rem;
  align-items: stretch;
}

.my-score-section > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myscore-button-description {
  font-weight: bold;
  margin-right: 0.7rem;
}

.star-ratings-wrapper {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-ratings-wrapper > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myscore-ratings {
  margin-right: 0.4rem;
}
