.item-card {
  display: flex;
  width: 180px;
  flex-direction: column;

  cursor: pointer;
}

.item-thumbnail {
  height: 270px;
  background-size: contain;

  background-color: #383839;
  border-radius: 8px;

  animation: skeleton-gradient 2s infinite ease-in-out;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: "loading";
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

@media screen and (max-width: 420px) {
  .item-card {
    width: 140px;
  }

  .item-thumbnail {
    height: 210px;
  }
}
