.item-card {
  display: flex;
  width: 182px;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  height: 359px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: "loading";
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

/* Tablet */
@media (max-width: 1024px) {
  .item-thumbnail {
    height: 359px;
    aspect-ratio: 182 / 359;
  }

  .item-title {
    font-size: 1.1rem;
  }

  .item-score {
    font-size: 1.1rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .item-card {
    width: 140px;
  }

  .item-thumbnail {
    height: 248px;
    aspect-ratio: 140 / 248;
  }

  .item-title {
    font-size: 1rem;
  }

  .item-score {
    font-size: 1rem;
  }
}
