@import "../../../templates/styles/colors.css";

/* modal.css */
body.modal-open {
  overflow: hidden;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-background.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: var(--color-bluegray-90);
  padding: 20px;
  border-radius: 16px;
  color: white;
  z-index: 2;
  position: relative;
  width: 1000px;
  height: auto;
}

.close-modal {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-container {
  display: flex;
}

.caption-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.18px;
}

.modal-image img {
  width: 300px;
  height: 500px;
  border-radius: 16px;
}

.modal-description {
  width: 100%;
  padding: 8px;
  margin-left: 16px;
  line-height: 1.6rem;
}
.rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.user_rate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rate_description {
  font-weight: 600;
  margin-left: 10px;
}

.modal-description .rate > img {
  position: relative;
  top: 5px;
}

.modal-description > *:not(:last-child) {
  margin-bottom: 8px;
}

.modal-description h2 {
  font-size: 2rem;
  margin: 0 0 8px;
}

.detail {
  max-height: 430px;
  overflow-y: auto;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .modal {
    width: 100%;
    height: auto;
  }
}
