@import "/public/styles/colors.css";

/* modal.css */
body:has(dialog[open]) {
  overflow: hidden;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경을 위해 설정 */
  backdrop-filter: blur(10px); /* 블러 효과 적용 */
}

.modal:focus {
  outline: none;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal {
  background-color: var(--color-bluegray-90);
  border-radius: 16px;
  color: white;
  border: none;
  padding: 0;
  width: 910px;
  min-width: 375px;

  @media screen and (max-width: 1024px) {
    border-radius: 16px 16px 0 0;
    margin: auto 0 0 0;
    width: 100%;
    max-width: 100%;
  }
}

dialog[open] {
  animation: show 0.5s forwards;

  @media screen and (max-width: 1024px) {
    animation: slideIn 0.5s ease-in-out;
  }
}

.close-modal {
  position: absolute;
  padding: 0;
  top: 2.25rem;
  right: 1.5rem;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}
