.modal--open {
  display: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.35);
}

.modal-container {
  position: fixed;

  width: 100%;
  max-width: 840px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 8px;
  background: var(--modal-background-color);
}

.modal-header > .modal-header-title {
  width: 100%;
  height: 10%;

  font-size: 20px;
  font-weight: 600;
  text-align: center;

  padding: 20px 0;
  border-bottom: 1px solid rgba(241, 241, 241, 0.25);
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-80%, 30%);

  width: 36px;
  height: 36px;

  font-size: 20px;
  color: var(--white-color);

  border-radius: 50%;
  border: var(--modal-button-color);
  background: var(--modal-button-color);
}

.modal-contents {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;

  font-size: 16px;
}

.contents-info-top > p {
  height: 250px;
  overflow-y: auto;
}

.contents-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  margin-left: 30px;

  line-height: 24px;
}

.contents-image {
  width: 300px;
  height: 450px;
}

.contents-image-skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.info-header {
  display: flex;
  margin-bottom: 15px;
}

.info-header > p {
  margin-top: 5px;
}

.info-header > img {
  width: 20px;
  height: 20px;
  margin-left: 18px;
}

.contents-info-bottom {
  border-radius: 16px;

  font-size: 16px;

  background-color: var(--modal-button-color);
}

@media (max-width: 767px) {
  .modal-container {
    top: initial;
    left: initial;

    bottom: 0;
    transform: none;
  }

  .modal-header > h2 {
    font-size: 18px;
  }

  .modal-contents {
    padding: 30px;
  }

  .contents-info {
    margin: 0;
  }

  .contents-image {
    display: none;
  }

  .contents-info-bottom {
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .modal-container {
    max-width: 758px;
  }

  .modal-contents {
    padding: 25px;
  }
}
