:root {
  --modal-dark-gray: #212122;
  --modal-gray: #383839;
  --modal-light-gray: #ababab;
  --modal-transparent-black: #000000bb;
  --modal-pink: #ff4646;
  color: white;
  font-family: 'Pretendard';
}

.information-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
}

.information-modal-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-transparent-black);
  backdrop-filter: blur(10px);
}

.information-modal {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 826px;
  height: 577px;
  margin: 0 0 auto;
  background-color: var(--modal-dark-gray);
  grid-template-areas:
    'title title'
    'poster genre-rating'
    'poster content'
    'poster my-rating';
  grid-template-rows: 60px 80px 347px 90px;
  grid-template-columns: 356px 470px;
  border-radius: 10px;
}

.information-modal-title {
  grid-area: title;
  border-bottom: 3px solid var(--modal-gray);
  font-size: 24px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}

.modal-close-button {
  width: 40px;
  height: 40px;
  background-color: var(--modal-gray);
  border-radius: 20px;
  position: absolute;
  top: 10px;
  right: 32px;
  padding: none;
  border: none;
  transition: 0.3s;
}

.modal-close-button:hover {
  background-color: var(--modal-pink);
  box-shadow: 0 0 10px var(--modal-pink);
}

.modal-close-button:hover .close-icon-stick {
  background-color: var(--modal-gray);
}

.modal-close-button:hover .close-icon-stick:first-child {
  transform: rotate(135deg);
}

.modal-close-button:hover .close-icon-stick:nth-child(2) {
  transform: rotate(45deg);
}

.close-icon-stick {
  display: inline-block;
  position: absolute;
  top: 19px;
  right: 7.5px;
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

.close-icon-stick:first-child {
  transform: rotate(45deg);
}

.close-icon-stick:nth-child(2) {
  transform: rotate(-45deg);
}

.information-modal-poster {
  grid-area: poster;
  margin: 32px;
}

.modal-image {
  width: 100%;
}

.information-modal-content {
  grid-area: content;
  margin: 0 32px 32px 0;
  font-size: 20px;
  line-height: 150%;
  overflow: auto;
}

.information-modal-genre-rating,
.information-modal-my-rating,
.user-rating-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.information-modal-genre-rating {
  grid-area: genre-rating;
  margin: 32px 32px 10px 0;
}

.information-modal-my-rating {
  grid-area: my-rating;
  margin: 0 32px 32px 0;
  background-color: var(--modal-gray);
  border-radius: 20px;
  padding: 10px;
}

.user-rating-bar {
  display: flex;
  flex-direction: row-reverse;
}
.rating-title {
  font-weight: 600;
}

.modal-text {
  font-weight: 200;
}

.modal-text.no-data {
  color: var(--modal-light-gray);
}
