* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

/* Colors *****************************************/
:root {
  --grey-100: #ffffff;
  --grey-200: #d0d5dd;
  --grey-300: #667085;
  --grey-400: #344054;
  --grey-500: #000000;
}

/* Typography *************************************/
.text-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.text-subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: rgba(241, 241, 241, 1);
}

.text-body {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(241, 241, 241, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 160px;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-card img:hover {
  object-fit: cover;
  transition: all 0.2s linear;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 3px #808080;
}

.item-title {
  display: -webkit-box;
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.item-score {
  display: flex;
  align-items: center;
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score > img {
  margin-right: 8px;
  padding-bottom: 2px;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  width: 100%;
  min-width: 1200px;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
  box-shadow: 0 0 100px #ffe1c0;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box > input {
  border: 0;
}

header .search-box > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('./search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

#error-item {
  grid-column: auto / span 4;
  text-align: center;
}

#error-item > img {
  width: 20rem;
}

#error-item > p {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(178, 178, 178);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 8px;
  background: #212122;
  overflow-y: auto;
}

.modal-container h2 {
  font-size: 1.6rem;
  font-weight: bold;
  user-select: none;

  display: -webkit-box;
  text-align: center;
  overflow-x: auto;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.movie-title-container {
  padding: 24px;
  border-bottom: 1px solid #fff;
}

#movie-detail-modal-close-button {
  position: absolute;
  top: 42px;
  right: 24px;

  font-size: 1.2rem;
  width: 36px;
  height: 36px;
  color: rgba(241, 241, 241, 1);
  background-color: rgba(56, 56, 57, 1);
  border-radius: 50%;
  border: none;
}

.movie-info {
  display: flex;
  margin: 24px;
}
.movie-info .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

.poster-image {
  border-radius: 8px;
  width: 292px;
  height: 433px;
  margin-right: 32px;
}

.movie-info-detail {
  display: flex;
  flex-direction: column;
}

.movie-overview {
  height: 310px;
  overflow: auto;
}

.genre-vote-average-container {
  display: flex;
  align-items: stretch;
  gap: 5px;
  margin-bottom: 10px;
}

.star-rating-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
  margin-top: auto;
  padding: 16px;
  height: 64px;
  border-radius: 16px;
  background-color: rgba(56, 56, 57, 1);
}

.star-image {
  width: 20px;
  height: 20px;
}

.star-rating-image {
  width: 25px;
  height: 25px;
}

.star-rating-caption {
  font-weight: bold;
}
