* {
  box-sizing: border-box !important;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  background-color: rgba(17, 17, 17, 1);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Typography *************************************/
.text-title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 24px;
}

.text-subtitle {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 28px;
  color: rgba(241, 241, 241, 1);
}

.text-body {
  font-size: 1.8rem;
  line-height: 24px;
  font-weight: 400;
  color: rgba(241, 241, 241, 1);
}

#app {
  width: 100%;
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}

.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.item-view h2 {
  width: 83.3%;
  font-size: 3.2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  width: 83.3%;
  display: grid;
  margin: 48px 0;

  /* item-list의 width기준 */
  grid-template-columns: repeat(4, calc(80% / 4));
  grid-column-gap: calc(20% / 3);
  grid-row-gap: 48px;
}

.scroll-target {
  font-size: 1.2rem;
  font-weight: 600;
  user-select: none;
  text-align: center;
  color: rgb(178, 178, 178);
}

.item-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item-thumbnail {
  width: 100%;
  height: 150%;
  border-radius: 8px;
  background-size: contain;
}

.item-card img:hover {
  object-fit: cover;
  transition: all 0.2s linear;
  transform: scale(1.02);
  box-shadow: 0 0 10px 3px #808080;
}

.item-title {
  display: -webkit-box;
  margin-top: 16px;
  font-size: 1.8rem;
  font-weight: bold;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.item-score {
  display: flex;
  align-items: center;
  margin-top: 16px;
  font-size: 1.6rem;
}

.item-score > img {
  margin-right: 8px;
  padding-bottom: 2px;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  width: 100%;
  height: 72px;
  background-color: rgba(17, 17, 17, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
  box-shadow: 0 0 100px #ffe1c0;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  display: flex;
  justify-content: space-between;

  width: 30%;
  background: rgba(241, 241, 241, 1);
  border-radius: 4px;
  padding: 8px;
}

header .search-box > input {
  width: 80%;
  background: rgba(241, 241, 241, 1);
  border: 0;
}

header .search-box > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('./search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

#error-item {
  grid-column: auto / span 4;
  text-align: center;
}

#error-item > img {
  width: 20rem;
}

#error-item > p {
  font-size: 2.4rem;
  font-weight: bold;
  color: rgb(178, 178, 178);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 80rem;
  height: 60rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 8px;
  background: #212122;
  overflow-y: auto;
}

.modal-container h2 {
  user-select: none;

  display: -webkit-box;
  text-align: center;
  overflow-x: auto;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  -ms-overflow-style: none; /* 익스플로러, 앳지 */
  scrollbar-width: none; /* 파이어폭스 */
}

.modal-container h2::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}

.movie-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  border-bottom: 1px solid #fff;
}

#movie-detail-modal-close-button {
  position: absolute;
  top: 4%;
  right: 24px;

  font-size: 1.6rem;
  width: 36px;
  height: 36px;
  color: rgba(241, 241, 241, 1);
  background-color: rgba(56, 56, 57, 1);
  border-radius: 50%;
  border: none;
}

.movie-info {
  height: 85%;
  display: flex;
  padding: 24px;
}

.movie-info .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

.poster-image {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  margin-right: 32px;
}

.movie-info-detail {
  display: flex;
  flex-direction: column;
}

.movie-overview {
  height: 31rem;
  overflow: auto;
}

.genre-vote-average-container {
  display: flex;
  align-items: stretch;
  gap: 5px;
  margin-bottom: 10px;
}

.star-rating-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
  margin-top: auto;
  padding: 10px;
  height: 64px;
  border-radius: 16px;
  background-color: rgba(56, 56, 57, 1);
}

.star-rating-container > .star-container {
  width: 35%;
  display: flex;
  justify-content: center;
}

.star-image {
  width: 20px;
  height: 20px;
}

.star-rating-image {
  width: 25px;
  height: 25px;
  flex-shrink: 1;
}

.star-rating-caption {
  font-weight: bold;
}

/* 태블릿 */
@media screen and (max-width: 992px) {
  .item-list {
    /* item-list의 width기준 */
    grid-template-columns: repeat(3, calc(80% / 3));
    grid-column-gap: 10%;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .item-list {
    /* item-list의 width기준 */
    grid-template-columns: repeat(1, 100%);
    grid-column-gap: 0;
  }

  .modal-container {
    left: 0;
    bottom: 0;
    top: auto;
    width: 100vw;
    height: 65vh;
    transform: none;

    border-radius: 8px 8px 0 0;
  }

  .star-rating-container {
    padding: 0;
    gap: 15px;
    justify-content: center;
  }

  .poster-image,
  .star-rating-container > .star-rating-caption {
    display: none;
  }
}
