<style>
  .item-card {
    display: flex;
    flex-direction: column;
  }

  .item-thumbnail {
    border-radius: 8px;
    width: 180px;
    height: 270px;
    background-size: contain;
  }

  .item-title {
    margin-top: 16px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .item-score {
    margin-top: 16px;
    font-size: 1.2rem;
  }

  .item-score::after {
    margin-left: 8px;
  }
</style>

<li>
  <a href="#">
    <div class="item-card">
      <img
        class="item-thumbnail"
        src="https://image.tmdb.org/t/p/w220_and_h330_face/cw6jBnTauNmEEIIXcoNEyoQItG7.jpg"
        loading="lazy"
        alt="앤트맨과 와스프: 퀀텀매니아"
      />
      <p class="item-title">앤트맨과 와스프: 퀀텀매니아</p>
      <p class="item-score"><img src="/src/assets/star_filled.png" alt="별점" /> 6.5</p>
    </div>
  </a>
</li>
