.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score img {
  width: 1.5rem;
  height: 1.5rem;
}

.item-score {
  height: 1.5rem;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}
