.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  background-size: contain;
}

@media (max-width: 500px) {  
  .item-thumbnail {
    width: 100%;
  }
}

.item-title {
  margin: 16px 0;
  font-size: 1.2rem;
  font-weight: bold;
}
