.item-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.img-wrapper {
  border-radius: 8px;
  background-size: contain;
  overflow: hidden;
}

.item-thumbnail {
  width: 100%;
  border-radius: 8px;
  background-size: contain;
  transform: scale(1);
  transition: transform 0.3s;
}

.item-thumbnail:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

@media (max-width: 500px) {  
  .item-thumbnail {
    width: 100%;
  }
}

.item-title {
  margin: 16px 0;
  font-size: 1.2rem;
  font-weight: bold;
}
