.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  font-size: 1.2rem;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}


.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

.item-score-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 16px;
}

.star-icon {
  margin-left: 8px;
  padding-top: 2px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}