.thumbnail-list {
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 70px;
}

.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  object-fit: contain;
  display: none;
}

.item {
  user-select: none;
  cursor: pointer;
}

.item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
  margin-top: 4px;
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  width: 16px;
  top: 1px;
}

.more {
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .thumbnail-list {
    grid-template-columns: repeat(4, 200px);
    gap: 40px;
  }
}

@media screen and (max-width: 940px) {
  .thumbnail-list {
    grid-template-columns: repeat(3, 200px);
  }
}

@media screen and (max-width: 700px) {
  .thumbnail-list {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (max-width: 460px) {
  .thumbnail-list {
    grid-template-columns: repeat(1, 200px);
  }
}
