.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-view h2 {
  font-weight: bold;
  font-size: 2rem;
  user-select: none;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  margin: 48px 0;
  grid-column-gap: 140px;
  grid-row-gap: 48px;
}

.last-item {
  margin-top: 48px;
}

.search-results-not-found {
  margin-top: 20%;
  width: 100%;
  height: 100%;

  font-size: 24px;
  text-align: center;
}

@media (max-width: 1142px) {
  .item-list {
    grid-template-columns: repeat(3, 0fr);
    grid-column-gap: 60px;
  }
}

@media (max-width: 668px) {
  .item-list {
    grid-template-columns: repeat(2, 0fr);
    grid-column-gap: 40px;
  }
}
