main {
  width: 100%;
  padding: 0 40px;
}

.item-view,
.item-test {
  width: 100%;
}

.item-list {
  display: grid;
  justify-content: space-between;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-row-gap: 48px;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.hide-button {
  display: none;
}

@media (max-width: 767px) {
  .item-list {
    justify-content: space-around;
    grid-template-columns: repeat(2, 120px);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .item-list {
    grid-template-columns: repeat(3, 180px);
  }
}
