.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
}

.item-view h2 {
  margin-bottom: 48px;
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.item-view .more {
  margin-top: 48px;
}

.invisible {
  display: none;
}

.item-list {
  display: grid;
  width: 100%;
  /*grid-column-gap: 50px;*/
  grid-row-gap: 15px;
}

/* Desktop */
@media (min-width: 1025px) {
  .item-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .item-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
