body {
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;

  align-items: center;
  padding: 30px 40px;
  z-index: 100;
  width: 100%;
}

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
    gap: 16px;
  }
}

h1.logo {
  font-size: 2rem;
}

.search-bar-container {
  width: min(525px, 100%);
}

@media screen and (min-width: 901px) {
  .search-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.search-bar {
  padding: 3px 10px;
  color: var(--color-white);
  border-radius: 30px;
  border: 2px solid var(--color-white);
  display: flex;
}

.search-bar button {
  background-color: transparent;
  border: none;
}
.search-bar button img {
  width: 16px;
  height: 16px;
}
.search-bar input {
  background-color: transparent;
  border: none;
  color: white;
  flex: 1;
  font-size: 1.6rem;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--color-white);
  }
}
