header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 48px;
  box-shadow: 0px 4px 8px 0px #ffffff33;
  border-bottom: 1px solid white;

  background-color: #222;
  padding: 0 20px;

  width: 100%;
  min-width: 323px;
  height: 72px;
}

header h1 {
  cursor: pointer;
  color: #f33f3f;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  user-select: none;
}
