.header {
  width: 100%;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

.header h1 {
  margin-right: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

.header > .search-box {
  display: none;
  width: 180px;
  height: 44px;
  background: #fff;
  border-radius: 4px;
}

.header .search-box #movie-search-form {
  display: flex;
  height: 100%;
}

.header .search-box input {
  width: calc(100% - 44px);
  height: 100%;
  padding: 8px;
  border: 0;
  border-radius: 4px;
}

.header .search-button {
  width: 44px;
  height: 100%;
  border: 0;
  background-color: transparent;
}

.search-button img {
  width: 16px;
}

.header .search-tooltip {
  position: absolute;
  top: 60px;
  right: 10px;
}

.header .mobile-search-box {
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 4px;
}

@media (min-width: 440px) {
  .header .search-box {
    display: block;
    width: 320px;
  }

  .header .mobile-search-box {
    display: none;
  }
}
