header {
  width: 100%;
  min-width: 1200px;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header>.search-box {
  display: flex;
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box>input {
  border: 0;
}

header .search-box>.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: transparent no-repeat 0 1px;
}

.search-button-icon {
  width: 14px;
}
