.movie-header {
  width: 100%;
  min-width: 1200px;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

.movie-header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

.search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

.search-box > input {
  border: 0;
}

.search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('/src/assets/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

@keyframes slide-in {
  from {
    width: 0;
  }
  to {
    width: 140px;
  }
}

/* Phone */
@media (min-width: 320px) and (max-width: 420px) {
  .movie-header {
    width: 100%;
    min-width: 320px;
    max-width: 420px;
  }

  .search-box > input {
    display: none;
  }

  .search-box > input.show {
    display: initial;
    animation: slide-in 0.5s ease forwards;
  }
}

/* Tablet */
@media (min-width: 421px) and (max-width: 900px) {
  .movie-header {
    width: 100%;
    min-width: 421px;
    max-width: 900px;
  }
}
