* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 200px);
  grid-column-gap: 10vw;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item-card:hover {
  transform: scale(1.1);
  transition: 500ms;
}

.item-thumbnail {
  border-radius: 8px;
  width: 100%;
  height: 270px;
  background-size: contain;
  background-color: #aaa;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-vote-average {
  margin-left: 5px;
  vertical-align: 25%;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  width: 100%;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box > input {
  border: 0;
}

header .search-box > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('../assets/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

/* dialog */
.movie-detail-modal {
  display: flex;
  flex-direction: column;
  width: 826px;
  height: 577px;
  background-color: #212122;
}

.movie-detail-modal-title-container {
  position: relative;
  padding: 18px 32px;
  border-bottom: 1px #aaa solid;
  text-align: center;
}

.movie-detail-modal-title {
  color: #f1f1f1;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.movie-detail-modal-close-button {
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: url('../assets/close.svg') #383839 no-repeat center;
  background-size: 16px;
}

.movie-detail-modal-main {
  display: flex;
  padding: 36px 32px;
}

.movie-detail-modal-thumbnail {
  flex: 1;
}

.movie-detail-modal-thumbnail > img {
  height: 100%;
  width: 100%;
}

.movie-detail-modal-genre-vote {
  margin-bottom: 16px;
}

.movie-detail-modal-genre-vote > .item-score {
  vertical-align: -25%;
  margin-left: 18px;
}

.movie-detail-modal-description {
  flex: 1.5;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  color: #f1f1f1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 32px;
}

.movie-detail-modal-user-vote {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  background: #383839;
}

.movie-detail-modal-user-vote > #user-vote-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

.movie-detail-modal-user-vote > #user-vote-star-span > img {
  vertical-align: -20%;
  cursor: pointer;
  margin: 0 -1px;
}

.movie-detail-modal-user-vote > #user-vote-star-amount {
}

.movie-detail-modal-user-vote > #user-vote-star-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .item-list {
    display: grid;
    margin: 48px 0;
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 10vw;
    grid-row-gap: 48px;
  }

  .movie-detail-modal {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    background-color: #212122;
  }
}

@media screen and (max-width: 480px) {
  .search-box {
    display: flex;
    justify-content: space-between;
  }

  .search-box > input:not(:focus):placeholder-shown {
    width: 0;
    padding: 0;
  }

  .search-box:has(input:focus),
  .search-box:has(input:not(:placeholder-shown)) {
    position: absolute;
    width: 90%;
  }

  .search-box:has(input:focus) > input {
    width: 100%;
  }

  .item-list {
    display: grid;
    margin: 48px 0;
    grid-template-columns: repeat(2, 160px);
    grid-column-gap: 10vw;
    grid-row-gap: 48px;
  }

  .movie-detail-modal-thumbnail {
    display: none;
  }

  .movie-detail-modal-description {
    margin-left: 0;
  }

  .movie-detail-modal-user-vote > #user-vote-star-description {
    display: none;
  }

  .movie-detail-modal {
    margin: 0;
    margin-top: auto;
    min-width: 100vw;
  }
  .movie-detail-modal-user-vote {
    justify-content: center;
    margin-top: 16px;
  }
}
