.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-layout {
  width: 826px;
  height: 577px;
  border-radius: 8px;
  background-color: #212122;
}
/*  */

.movie-detail-top {
  position: relative;
  padding: 18px 32px;
  display: flex;
  justify-content: center;
  min-height: 60px;
  max-height: 60px;
}

.back-button {
  position: absolute;
  right: 32px;
  bottom: 0;
  top: 0;
  margin: auto 0;
  width: 36px;
  height: 36px;
  font-size: 1.5rem;
  border-radius: 18px;
  color: #f1f1f1;
  background-color: #383839;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.movie-detail-contents {
  border-top: 2px solid #383839;
  padding: 32px 48px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 32px;
}

.movie-detail-info {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 18px;
}

/*  */

.movie-detail-thumbnail {
  width: 292px;
  height: 433px;
  /* background-size: contain; */
}

.movie-detail-title {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 140%;
  text-align: center;
}

.movie-detail-genres-grade {
  line-height: 24px;
  letter-spacing: 0.5px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 18px;
}

.movie-detail-grade {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 6px;
}

.movie-detail-overview {
  line-height: 24px;
  letter-spacing: 0.5px;
}

.movie-detail-voteContainer {
  background-color: #383839;
  border-radius: 16px;
  padding: 20px 16px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 15px;
  align-items: center;
}

.item-score::after {
  margin-left: 8px;
}

.movie-detail-thumbnail.skeleton::after,
.movie-detail-title.skeleton::after,
.movie-detail-genres-grade.skeleton::after,
.movie-detail-overview.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.movie-detail-title.skeleton {
  max-width: 360px;
  min-width: 360px;
}

/*  */

.voted-star-container {
  width: 135px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2px;
}

.vote-star {
  cursor: pointer;
}

.vote-star:hover {
  color: red;
}
