@media (min-width: 769px) {
  .movie-modal {
    width: 768px;
  }
  .mobile-visibility-visible {
    visibility: hidden;
  }
}

@media (max-width: 1280px) {
  .item-list {
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 130px;
  }
  .item-view {
    width: 800px;
  }
}

@media (max-width: 768px) {
  .movie-modal {
    width: 100vw;
    bottom: 0;
  }
  dialog {
    margin-bottom: 0;
  }
  .mobile-display-none {
    display: none;
  }
  .mobile-visibility-hidden {
    visibility: hidden;
  }

  .movie-detail-info {
    height: 280px;
    width: 100%;
  }
  .movie-detail-info > div:nth-child(2) {
    height: 160px;
    width: 100%;
    -webkit-line-clamp: 8;
  }
  .search-box {
    width: calc(100vw - 40px);
    display: flex;
    justify-content: space-between;
  }
  .search-box > input {
    width: calc(100% - 20px);
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .item-list {
    grid-template-columns: repeat(2, 180px);
    column-gap: 100px;
  }
  .item-view {
    width: 460px;
  }
}

@media (max-width: 575px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
  }
  .item-view {
    width: 80%;
  }
  .item-card {
    scale: 0.95;
  }
  .item-thumbnail {
    object-fit: cover;
  }
}
