.header {
  max-width: 1280px;
  width: 100%;
  height: 100px;
  position: relative;
}

.logo {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 120;
  cursor: pointer;
}

.header__searchbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

@media (max-width: 1024px) {
  .header {
    display: flex;
    top: 20px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .logo {
    position: static;
    transform: none;
    margin-bottom: 10px;
  }

  .header__searchbar {
    position: static;
    transform: none;
    width: 90%;
  }
}
