.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 72px;
  padding: 0 20px;
  margin-bottom: 48px;
  border-bottom: 1px solid var(--white);
  background-color: var(--black);
  box-shadow: 0px 4px 8px var(--header-shadow);
  z-index: 1;
}

.movie-logo {
  cursor: pointer;
}

@media (max-width: 420px) {
  .header-center {
    justify-content: center !important;
  }
}
