.movie-image {
  width: 180px;
  height: 270px;
  border-radius: 8px;
  background-size: contain;
}

.skeleton {
  border-radius: 8px;
  background-size: 400%;
  background: linear-gradient(-90deg, var(--silver), var(--gray), var(--silver), var(--gray));
  animation: skeleton-animation 5s infinite ease-out;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
