.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  display: flex;
  align-items: center;
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score > img {
  margin-left: 8px;
}

.item-score::after {
  margin-left: 8px;
}
