.item-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
  width: 100%;
  padding: 0 180px 120px 180px;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 64px;
  grid-row-gap: 70px;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
}

.movie-list-title {
  width: 100%;
  align-self: baseline;
  margin-bottom: 46px;
  font-size: 3.4rem;
  font-weight: bold;
  user-select: none;
}

.no-result {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 120px;
  margin-top: 36px;
  font-size: 1.6rem;
}

.more-button-wrapper {
  margin-top: 70px;
  width: 100%;
  height: 30px;
}

@media (max-width: 768px) {
  .item-container {
    padding: 0 50px 70px 50px;
  }

  .movie-list-title {
    margin-bottom: 36px;
    font-size: 2.8rem;
  }

  .item-list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 64px;
    grid-row-gap: 60px;
  }

  .more-button-wrapper {
    margin-top: 60px;
  }
}

@media (max-width: 420px) {
  .item-container {
    padding: 0 20px 60px 20px;
  }

  .movie-list-title {
    margin-bottom: 24px;
  }

  .item-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 36px;
    grid-row-gap: 56px;
  }

  .more-button-wrapper {
    margin-top: 56px;
  }

  .no-result {
    height: 180px;
  }
}

@media (max-width: 340px) {
  .item-list {
    grid-column-gap: 16px;
  }
}
