.moive-item-container {
  max-width: 183px;
  cursor: pointer;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-title {
  margin: 19px 0;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.7rem;
}

.movie-list-image-wrapper {
  width: 183px;
  height: 273px;
}

.item-score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-check {
  font-size: 2rem;
}

@media (max-width: 420px) {
  .moive-item-container {
    max-width: 140px;
  }

  .item-title {
    margin: 8px 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .item-score {
    font-size: 1.6rem;
  }

  .movie-list-image-wrapper {
    width: 140px;
    height: 220px;
  }
}
