.item-card {
  display: flex;
  flex-direction: column;
}

.item-title {
  margin-top: 16px;
  font-size: 1.8rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.8rem;
}

.item-score::after {
  margin-left: 8px;
}
