.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.item-card .skeleton {
  border-radius: 8px;
  background: linear-gradient(-90deg, var(--silver), var(----gray), var(--silver), var(----gray));
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
}

.item-thumbnail {
  width: 180px;
  height: 270px;
  border-radius: 8px;
  background-size: contain;
}

.item-thumbnail .skeleton {
  border-radius: 8px;
  background: linear-gradient(-90deg, var(--silver), var(----gray), var(--silver), var(----gray));
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.skeleton-hide {
  display: none;
}
