#star-vote-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 385px;
  height: 64px;
  background-color: var(--grey-4);
  border-radius: 16px;
  position: absolute;
  bottom: 0;
  gap: 5px;
}

#score-title {
  width: 100px;
}

#star-with-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

#star-box {
  width: 150px;
}

#score-info {
  width: 150px;
  display: flex;
  gap: 30px;
}
