* {
  box-sizing: border-box !important;
}

body {
  padding-top: 72px;

  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

header {
  position: fixed;
  z-index: 20;
  top: 0;

  width: 100%;
  min-width: 1200px;
  height: 72px;
  padding: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 8px rgba(255, 255, 255, 0.2);
  background-color: #222;

  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes landing {
  from {
    margin-bottom: 200px;
  }

  to {
    margin-bottom: 0;
  }
}

.header-container h1 {
  animation-duration: 1s;
  animation-name: landing;

  cursor: pointer;
  user-select: none;

  letter-spacing: -0.1rem;
  font-size: 2rem;
  font-weight: bold;
  color: #f33f3f;
}

.header-container .search-box {
  animation-duration: 1s;
  animation-name: landing;

  height: 44px;
  padding: 8px 12px;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  background: #fff;
}

.header-container .search-box > input {
  width: 318px;
  border: 0;
  padding: 0;
}

.header-container .search-box > .search-button {
  width: 18px;
  border: 0;

  background: url('../../assets/search_button.png') transparent no-repeat 0 1px;
  background-position: center;
  background-size: contain;

  text-indent: -1000rem;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  width: 1200px;
  margin: 0 auto;
  margin-top: 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-view h2 {
  margin-bottom: 48px;
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.item-view #load-sensor {
  height: 48px;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  grid-template-columns: repeat(4, 210px);
  grid-column-gap: 120px;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-card:hover {
  cursor: pointer;
}

.item-list > :last-child {
  margin-bottom: 48px;
}

.item-thumbnail:hover {
  transform: scale(1.1);
}

.item-thumbnail {
  transition: transform 0.5s;

  width: 210px;
  height: 315px;
  border-radius: 8px;

  background-size: contain;
}

.item-title {
  margin-top: 16px;

  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;

  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  content: 'loading';

  font-size: 0;
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  height: 30px;
  border: 0;
  border-radius: 8px;

  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  animation: skeleton-animation 5s infinite ease-out;

  border-radius: 8px;

  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.error-view {
  width: 1200px;
  margin: 0 auto;
}

.error-view h1 {
  margin: 24px 0;

  font-size: 2rem;
}

.error-view p {
  margin-bottom: 12px;

  font-size: 1.25rem;
}

.error-view p::before {
  content: '☑️ ';
}

.modal {
  position: fixed;
  z-index: 30;
  top: 0;
  overflow: hidden;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.box {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 826px;
  height: 580px;
  border-radius: 8px;
  background: #212122;

  color: #f1f1f1;
}

.box .head {
  position: relative;

  height: 60px;
  padding: 0 32px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
}

.box .head h1 {
  font-weight: 600;
  font-size: 20px;
}

.box .head #close {
  position: absolute;
  right: 18px;

  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background: #383839;

  font-size: 16px;
  color: #f0f0f0;
}

.box .body {
  padding: 48px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .poster {
  width: 280px;
  height: 420px;
}

.box .detail {
  width: 438px;
  height: 420px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box .detail .description {
  overflow: scroll;
}

.box .detail .description > p {
  margin-bottom: 16px;

  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 16px;
}

.box .detail .description > p span {
  margin-left: 18px;
}

.box .detail .vote-area {
  height: 64px;
  padding: 16px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  align-content: center;
  background: #383839;

  font-weight: 700;
  font-size: 16px;
}

.box .detail .vote-area .star-area {
  margin-left: 14px;
}

.box .detail .vote-area .star:hover {
  cursor: pointer;
}

.box .detail .vote-area .star + .star {
  margin-left: 4px;
}

.box .detail .vote-area .vote-message {
  margin-left: 14px;

  font-weight: 400;
  font-size: 16px;
  color: #f1f1f1;
}
