@import 'reset.css';

* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.item-view h2 {
  justify-content: space-between;
  height: 50px;
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experim ents/aspect_ratio/ */

.item-list {
  width: 100%;
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(5, 180px);
  grid-row-gap: 48px;
  justify-content: space-between;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-vote-average {
  margin-top: 16px;
  font-size: 1.2rem;
  font-size: 25px;
}

.item-vote-average::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-vote-average.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}
button.close-button {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #383839;
  color: #fff;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  width: 100%;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
  position: fixed;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box > input {
  border: 0;
}

header .search-box > .search-button {
  width: 17px;
  border: 0;
  text-indent: -1000rem;
  background: url('../assets/image/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

#movie-detail-modal__open {
  display: flex;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 750px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-header {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  border-bottom: 1px solid rgba(241, 241, 241, 0.25);
  border-radius: 8px 8px 0 0;
  background: #212122;
}

.modal-header-title {
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: center;
  font-size: 20px;
  padding-left: 36px;
  letter-spacing: 1px;
}

.close-button {
  border: none;
  font-size: 20px;
}

.modal-content {
  display: flex;
  flex-direction: row;
  background: #212122;
  padding: 30px;
  gap: 30px;
}

.item-poster {
  width: 300px;
  height: 450px;
}

.modal-container .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

.modal-description-and-vote {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.item-description {
  display: flex;
  flex-direction: column;
}

.modal-genre-and-vote {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.item-genre {
  height: 40px;
  width: fit-content;
  font-size: 20px;
  display: flex;
  margin-right: 10px;
  white-space: nowrap;
}

.item-vote-average {
  padding-bottom: 9px;
  margin-bottom: 16px;
}

.item-overview {
  height: 310px;
  overflow-y: scroll;
}

.item-vote {
  display: flex;
  position: fixed;
  bottom: 20px;
  padding: 16px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  width: 49%;
  background-color: #383839;
  border-radius: 16px;
}

.modal-my-vote-description {
  white-space: nowrap;
}

.modal-vote-stars {
  display: flex;
}

.item-votestar {
  background: none;
  border: none;
  width: 28px;
  height: 28px;
}

.list-end {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-list {
    grid-template-columns: repeat(4, 180px);
  }
}

@media screen and (max-width: 767px) {
  .search-box > input {
    display: none;
    width: 80vw;
  }

  .modal-container {
    width: 100%;
    height: 60%;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .modal-content {
    height: 100%;
  }
  .modal-header-title {
    text-align: center;
  }
  .modal-description-and-vote {
    width: 100%;
  }
  .item-description {
    height: 65%;
  }

  .modal-my-vote-description {
    display: none;
  }
  .item-vote {
    width: 85%;
    bottom: 20px;
    justify-content: center;
  }

  .item-overview {
    height: 100%;
  }

  .item-list {
    grid-template-columns: repeat(2, 180px);
    justify-content: space-around;
  }
  .item-poster {
    display: none;
  }
}

#toast_message {
  opacity: 0;
  position: fixed;
  top: 80px;
  right: -100px;
  transform: translate(0, -50%);
  padding: 10px 50px;
  background: #f33f3f;
  border-radius: 100px 0 0 100px;
  color: #fff;
  transition: all 0.5s;
}

#toast_message.active {
  opacity: 100%;
  top: 80px;
  right: 0px;
}
