@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box !important;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  background-color: #222222;
  color: #fff;
  /* hidden scroll */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  /* hidden scroll */
  display: none;
}

button {
  cursor: pointer;
}

movie-item {
  list-style: none;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(5, 200px);
  grid-column-gap: 50px;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 200px;
  height: 300px;
  background-size: contain;
  cursor: pointer;
}

.item-title {
  display: -webkit-box;
  margin-top: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.5;
}

.item-title.skeleton {
  height: 20px;
}

.item-score {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
}

.item-score.skeleton {
  display: block;
}

.item-score > img {
  margin-right: 8px;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: "loading";
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  width: 100%;
  min-width: 1200px;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: rgba(255, 255, 255, 0.4) -1px -2px 4px,
    rgba(255, 255, 255, 0.3) 0px 6px 13px -3px,
    rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  display: flex;
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
}

header .search-box > input {
  border: 0;
  padding: 0;
  font-size: 14px;
}

header .search-box > .search-button {
  width: 14px;
  margin-top: 2px;
  border: 0;
  text-indent: -1000rem;
  background: url("../assets/search_button.png") transparent no-repeat 0 1px;
  background-size: contain;
}

#no-result {
  line-height: 2;
}

#no-result > h2 {
  margin: 40px 0 32px;
}

#no-result > p {
  margin-bottom: 10px;
}

@media screen and (max-width: 834px) {
  .item-view {
    width: 834px;
    margin: 0 auto;
  }

  .item-view h2 {
    padding-left: 70px;
    font-weight: 600;
    font-size: 28px;
  }

  .item-list {
    margin: 36px auto;
    grid-template-columns: repeat(3, 200px);
    grid-column-gap: 50px;
  }

  header {
    min-width: 834px;
  }
}

@media screen and (max-width: 390px) {
  .item-view {
    width: 390px;
    margin: 0 auto;
  }

  .item-view h2 {
    padding-left: 25px;
  }

  .item-list {
    margin: 30px auto;
    grid-template-columns: repeat(2, 150px);
    grid-column-gap: 40px;
  }

  .item-thumbnail {
    width: 150px;
    height: 225px;
  }

  .item-title {
    font-size: 17px;
  }

  .item-score {
    margin-top: 8px;
    font-size: 16px;
  }

  header {
    min-width: 390px;
    margin-bottom: 40px;
  }

  header .search-box > input {
    display: none;
  }
}
