* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}

.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: all 0.5s;
  width: 1100px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-row-gap: 48px;
  justify-content: space-between;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  transition: all 0.5s;
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: "loading";
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

header {
  width: 100%;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.5s ease;
}

header .search-box > input {
  border: 0;
}

header .search-box > #search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url("../assets/search_button.png") transparent no-repeat 0 1px;
  background-size: contain;
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .item-view {
    width: 800px;
  }

  .item-list {
    grid-template-columns: repeat(3, 180px);
  }
}

@media only screen and (min-width: 450px) and (max-width: 799px) {
  .item-view {
    width: 400px;
  }

  .item-list {
    grid-template-columns: repeat(2, 180px);
  }
}

@media only screen and (max-width: 500px) {
  header {
    width: 400px;
  }

  .item-view {
    width: 250px;
    margin-left: 2.5rem;
  }

  .item-list {
    grid-template-columns: repeat(2, 180px);
    grid-row-gap: 30px;
  }

  .item-thumbnail {
    width: 140px;
    height: 220px;
  }

  .item-title {
    font-size: 16px;
    width: 140px;
  }

  .item-score {
    font-size: 16px;
  }

  header > .search-box {
    display: flex;
    justify-content: space-between;
    width: 35px;
    position: absolute;
    right: 5px;
    top: 20px;
  }

  header .search-box > input {
    width: 0px;
  }

  header > .search-box:hover {
    width: 340px;
  }

  header > .search-box:hover > input {
    transition: all 0.7s ease;
    width: 200px;
  }
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error-message h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.error-message p {
  font-size: 14px;
}

.placeholder-thumbnail {
  background-color: #3a3a3a;
}

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.35);
}

.movie-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 826px;
  min-width: 327px;
  max-height: 577px;

  background-color: #212122;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.modal-close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 10px;
  top: 12px;
  border-radius: 50%;
  border: 0;

  font-size: 21px;
  color: #f1f1f1;
  background: #383839;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(241, 241, 241, 0.25);
  height: 60px;
  font-weight: 600;
  font-size: 20px;
}

.modal-poster {
  width: 30%;
  height: 50%;
}

.modal-sub-container {
  display: flex;
  width: 90%;
  margin: 30px;
}

.modal-text {
  font-size: 16px;
  line-height: 24px;
  height: 100%;
}

.modal-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  width: 100%;
}

.info-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.modal-score {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

.modal-icon {
  margin: 0 3px 0 15px;
}

.modal-score-box {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 64px;

  background: #383839;
  border-radius: 16px;

  font-size: 16px;
  font-weight: 400;
}

.modal-score-box > div > p.bold {
  font-weight: 700;
  font-size: 16px;
  margin-right: 1rem;
}

.modal-score-box > div > p.normal {
  font-weight: 400;
  margin-left: 0.7rem;
}

.star-count {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
