@media screen and (max-width: 1280px) {
  .item-list {
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 130px;
  }
  .item-view {
    width: 800px;
  }
}

@media screen and (max-width: 768px) {
  .item-list {
    grid-template-columns: repeat(2, 180px);
    grid-column-gap: 100px;
  }
  .item-view {
    width: 460px;
  }
  .movie-modal {
    width: 100vw;
    bottom: 0;
  }
  dialog {
    margin-bottom: 0;
  }
}
