@media screen and (min-width: 1024px) and (max-width: 1279px) {
  header {
    min-width: 920px;
  }

  .item-view {
    width: 920px;
  }

  .item-list,
  .skeleton-list {
    grid-template-columns: repeat(4, 182px);
    grid-column-gap: 64px;
    grid-row-gap: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    min-width: 674px;
  }

  .item-view {
    width: 674px;
  }

  .item-list,
  .skeleton-list {
    grid-template-columns: repeat(3, 182px);
    grid-column-gap: 64px;
    grid-row-gap: 56px;
  }
}

@media screen and (min-width: 390px) and (max-width: 767px) {
  header {
    min-width: 316px;
  }

  header > .search-box {
    width: 176px;
  }

  header .search-box input {
    width: 142px;
  }

  search-box {
    display: none;
  }

  #mobile-search-button {
    display: block;
  }
}

@media screen and (max-width: 389px) {
  header {
    min-width: 280px;
  }

  header > .search-box {
    width: 150px;
    min-width: 150px;
  }

  header .search-box input {
    width: 116px;
  }

  search-box {
    display: none;
  }

  #mobile-search-button {
    display: block;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .item-view {
    width: 316px;
  }

  .item-list,
  .skeleton-list {
    grid-template-columns: repeat(2, 140px);
    grid-column-gap: 36px;
    grid-row-gap: 58px;
  }

  .item-thumbnail {
    width: 140px;
    height: 220px;
  }
}

@media screen and (max-width: 359px) {
  .item-view {
    width: 280px;
  }

  header img {
    width: 80px;
  }

  .item-list,
  .skeleton-list {
    grid-template-columns: repeat(1, 182px);
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    width: 100%;
    background: transparent;
    border: none;
  }

  .modal-container {
    position: fixed;
    bottom: 0;
    width: 100%;

    border-radius: 10px;
    background-color: #212122;
    color: white;
  }

  .detail-content > img {
    display: none;
  }

  .detail-description {
    margin: 0;
  }

  .item-view h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .detail-score {
    flex-direction: column;
    align-items: flex-start;
    min-width: 170px;
    align-self: center;
    width: 100%;
  }

  .detail-header > h2 {
    font-size: 18px;
  }

  #detail-score-title {
    margin: 0 0 6px 2px;
  }

  #detail-score-description {
    margin: 6px 0 0 2px;
  }
}
