@media screen and (max-width: 1280px) {
  .item-list {
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 130px;
  }
  .item-view {
    width: 800px;
  }
}

@media (max-width: 768px) {
  .movie-modal {
    width: 100vw;
    bottom: 0;
  }
  dialog {
    margin-bottom: 0;
  }
  .movie-detail-image {
    display: none;
  }
  .movie-detail-info {
    height: 280px;
  }
  .movie-detail-info > div:nth-child(2) {
    height: 160px;
    -webkit-line-clamp: 8;
  }
  .result-string {
    display: none;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .item-list {
    grid-template-columns: repeat(2, 180px);
    grid-column-gap: 100px;
  }
  .item-view {
    width: 460px;
  }
}

@media (max-width: 575px) {
  .item-list {
    grid-template-columns: repeat(2, 171px);
    grid-column-gap: 38px;
  }
  .item-view {
    width: 380px;
  }
  .item-card {
    scale: 0.95;
  }
  .item-thumbnail {
    width: 171px;
    object-fit: cover;
  }
}
