:root {
  /* Colors *****************************************/
  --primary-color: #f33f3f;
  --grey-100: #ffffff;
  --grey-200: #f1f1f1;
  --grey-300: #d0d5dd;
  --grey-400: #383839;
  --grey-500: #212122;
  --grey-600: #000000;
}
