body.fix {
  overflow: hidden;
}

.hide {
  display: none;
}

.skeleton {
  animation: skeleton-animation 5s infinite ease-out;
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
}
