.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.b-0 {
  bottom: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.p-16 {
  padding: 16px;
}

.p-32 {
  padding: 32px;
}

.mr-12 {
  margin-right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-4 {
  margin-right: 4px;
}
