@import "./colors.css";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-bluegray-80);
}

#app,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin: 64px 0;
}

.star {
  width: 24px;
}

button {
  border: 0;
  padding: 8px 16px;
  cursor: pointer;
}

button.primary {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-lightblue-90);
  border-radius: 4px;
}

#app {
  background-color: var(--color-bluegray-100);
  min-width: 375px;
}

.header {
  position: relative;
}

.banner-open {
  height: 500px;
}

.header-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 1280px;
  margin: 2.5rem auto 0;
}

.search-form {
  border-radius: 32px;
  border: 2px solid var(--color-gray-300);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  width: 525px;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    width: 300px;
  }
}

.search-input {
  width: 100%;
  padding: 0.75rem 0;
  color: var(--color-gray-300);
  font-size: 1.1rem;
}

.search-input::placeholder {
  color: var(--color-gray-300);
}

.background-container {
  position: absolute;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: 0;
  background-image: url("https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/stKGOm8UyhuLPR9sZLjs5AkmncA.jpg");
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.top-rated-container {
  user-select: none;
  position: relative;
  z-index: 2;
  width: 1280px;
  margin: 3rem auto 0;

  @media screen and (max-width: 1280px) {
    padding: 0 3rem;
    width: 1024px;
  }

  @media screen and (max-width: 768px) {
    width: 768px;
    margin: 5rem 0 0 3rem;
    padding: 0 3rem;
  }
}

.top-rated-container > *:not(:last-child) {
  margin-bottom: 8px;
}

h1.logo {
  font-size: 2.5rem;
}

.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

.rate > img {
  position: relative;
  top: 2px;
}

span.rate-value {
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.66rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;

  @media screen and (max-width: 768px) {
    font-size: 2.5rem;
  }
}

footer.footer {
  width: 100%;
  min-height: 180px;
  background-color: var(--color-bluegray-80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
}

footer.footer p:not(:last-child) {
  margin-bottom: 8px;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--color-lightblue-90);
  color: var(--color-white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s;
}

.scroll-to-top-button:hover {
  background-color: #3cb6f8;
  animation: float 1s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.star-icon {
  width: 32px;
  height: 32px;
}
