@import "./colors.css";

/* modal.css */
body:has(dialog[open]) {
  overflow: hidden;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경을 위해 설정 */
  backdrop-filter: blur(10px); /* 블러 효과 적용 */
}

.modal:focus {
  outline: none;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  background-color: var(--color-bluegray-90);
  border-radius: 16px;
  color: white;
  border: none;
  padding: 0;
  width: 910px;
  min-width: 375px;

  @media screen and (max-width: 1024px) {
    border-radius: 16px 16px 0 0;
    margin: auto 0 0 0;
    width: 100%;
    max-width: 100%;
  }
}

dialog[open] {
  animation: show 0.5s forwards;
}

.close-modal {
  position: absolute;
  padding: 0;
  top: 2.25rem;
  right: 1.5rem;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
}

.detail-movie {
  display: flex;
  padding: 2rem 1.5rem;
  gap: 1.5rem;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    gap: 0;
  }
}

.modal-image {
  text-align: center;
}

.modal-image img {
  width: 440px;
  border-radius: 16px;

  @media screen and (max-width: 1024px) {
    width: 200px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.detail-movie-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem;
}

.detail-movie-title {
  width: 95%;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  @media screen and (max-width: 1024px) {
    text-align: center;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 1rem;
    font-size: 1.65rem;
  }
}

.detail-movie-category {
  font-size: 1.1rem;
  padding-bottom: 1rem;

  @media screen and (max-width: 1024px) {
    text-align: center;
  }
}

.detail-movie-rate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #67788e;

  @media screen and (max-width: 1024px) {
    justify-content: center;
  }
}

.rate-text {
  color: #ffc700;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.38rem;
}

.rate-star {
  width: 1.5rem;
  height: 1.5rem;
}

.detail-movie-description-box {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.detail-movie-description-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.detail-movie-description-content {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.55;
  max-height: 340px;
  padding-right: 1rem;
  overflow-y: auto;

  @media screen and (max-width: 1024px) {
    max-height: 200px;
  }
}

.detail-movie-description-content::-webkit-scrollbar {
  width: 0.75rem;
}

.detail-movie-description-content::-webkit-scrollbar-thumb {
  background-color: #5d6774; /* 스크롤바의 색상 */
  border-radius: 0.375rem; /* 스크롤바의 둥근 모서리 */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* 스크롤바의 내부 그림자 */
}

.detail-movie-description-content::-webkit-scrollbar-track {
  background-color: #4a4f62; /* 스크롤바 트랙의 색상 */
  border-radius: 0.375rem; /* 스크롤바 트랙의 둥근 모서리 */
}
