.rate-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid #67788e;
}

.rate-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.rating-content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate-button-box {
  display: flex;
  gap: 0.1rem;
  align-items: center;
}

.rate-message-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.rate-message {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
}

.rate-value-message {
  color: #95a1b2;
  font-size: 1.25rem;
  font-weight: 600;
}
