.container section {
  min-height: 1000px;
  position: relative;
}

.container section .thumbnail-list {
  min-height: 800px;
}
.container section .skeleton-list {
  position: absolute;
  top: 54.4px;
  left: 0;
}

.container section .skeleton-list li .thumbnail {
  display: none;
}

.container section .skeleton-list li .dummy-img {
  width: 200px;
  height: 300px;
  background: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 4px;
}

.container section .skeleton-list.animation {
  transition: opacity 3s;
  opacity: 0;
}
