@import "./colors.css";

.error-box {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.empty-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.empty-planet {
  width: 4.5rem;
  height: 3.88356rem;
}

.movie-list-box {
  width: 1280px;
  margin: 4rem auto;

  @media screen and (max-width: 1280px) {
    width: 100%;
    padding: 0 3rem;
  }
}

.movie-list-title {
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.thumbnail-list {
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: space-between;
  gap: 50px;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.item {
  user-select: none;
  cursor: pointer;
}

.thumbnail-box {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

.thumbnail:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.item-desc {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

.item-desc > strong {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  width: 16px;
  top: 1px;
}

.more-button {
  width: 100%;
  height: 3.0625rem;
  border-radius: 8px;
  background: var(--color-lightblue-90);
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 600;
}
