$desktop-width: 950px;
$tablet-width: 750px;
$mobile-width: 400px;

.item-list {
  display: grid;
  margin: 48px 0;

  grid-template-columns: repeat(4, 180px);
  grid-row-gap: 48px;
  grid-column-gap: 48px;
  justify-items: center;
  justify-content: space-between;
}

@media (max-width: #{$desktop-width}) {
  .item-list {
    grid-template-columns: repeat(3, 180px);
  }
}

@media (max-width: #{$tablet-width}) {
  .item-list {
    grid-template-columns: repeat(2, 140px);
    justify-content: space-around;
  }
}

@media (max-width: #{$mobile-width}) {
  .item-list {
    grid-template-columns: repeat(2, 120px);
  }
}
