.search-bar-container {
  width: 525px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  border: 2px solid #D1D5DB;
  padding: 6px 16px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-bar-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: white;
}

.search-bar-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}