@import url('../src/components/Header/header.css');
@import url('../src/components/Title/title.css');
@import url('../src/components/SearchBox/search-box.css');
@import url('../src/components/MovieListSection/movie-list-section.css');
@import url('../src/components/MovieItem/movie-item.css');
@import url('../src/components/SkeletonItem/skeleton-item.css');
@import url('../src/components/Alert/alert.css');
@import url('../src/components/ErrorPage/error-page.css');
@import url('../src/components/ModalWrapper/modal-wrapper.css');
@import url('../src/components/MovieDetail/movie-detail.css');

:root {
  --background: #222222;
  --primary: #f33f3f;
  --grey-1: #383839;
  --grey-2: #f1f1f1;
}

* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: var(--background);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}

.item-test {
  width: 100%;
}

.hidden {
  display: none;
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

.sr-only {
  overflow: hidden;
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;
  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
