* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: #111111;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

main {
  padding-top: 110px;
}

*:focus {
  outline: none;
}

.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

/* .item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 160px;
  grid-row-gap: 48px;
} */

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  justify-items: center;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .item-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 180px;
}

.item-thumbnail {
  border-radius: 8px;
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  font-size: 1.2rem;
  margin: 0;
}

.item-score {
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-score-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #7d7d7d, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  position: fixed;
  width: 100%;
  height: 72px;
  background-color: rgba(1, 1, 1, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgb(71, 71, 71);
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-form {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-form > input {
  border: 0;
}

header .search-form > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('./search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

.error-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error-title {
  font-size: 10rem;
  color: #555;
}

.error-detail-container {
  font-size: 1.2rem;
  color: #fff;
}

.error-text {
  padding: 10px;
  text-align: center;
}

.no-image-container {
  width: 180px;
  height: 270px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.no-image-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #999;
}

.no-image-subtitle {
  color: #888;
}

.network-status-alert-container {
  position: fixed;
  display: flex;
  align-items: center;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 100px;
  padding-left: 50px;
  z-index: 100;

  background-color: #fff;
  color: #000;
  border-top: solid 3px #f33f3f;

  font-size: 1.5rem;
  font-weight: 900;
}

.movie-detail-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.movie-detail-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #7d7d7d;
}

.movie-detail-header h2 {
  font-size: 24px;
  margin: 0;
  color: white;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.movie-detail-content {
  display: flex;
}
.movie-detail-thumbnail {
  width: 30%;
  margin-right: 20px;
}
.movie-detail-thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.movie-detail-info {
  width: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-detail-zz {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-detail-dd {
  display: flex;
  gap: 10px;
}

.movie-title {
  font-size: 36px;
  margin: 0 0 10px;
}

.description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.bottom-info {
  display: flex;
  justify-content: space-between;
  background-color: #555;
  padding: 10px;
  border-radius: 10px;
}

.my-score-container {
  display: flex;
  gap: 10px;
}

.bottom-info div {
  display: flex;
  align-items: center;
}

.bottom-info img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.movie-detail-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .movie-detail-dd {
    display: flex;
    align-items: center;
  }

  .movie-detail-container {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    transform: none;
    width: 100%;
    max-width: none;
    height: 40%;
    overflow-y: auto;
    border-radius: 10px 10px 0 0;
  }

  .movie-detail-thumbnail {
    max-width: 1px;
    max-height: 1px;
    display: hidden;
  }

  .movie-detail-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .movie-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .close-btn {
    top: 20px;
    right: 20px;
  }

  .movie-detail-content {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    line-height: 1.6;
  }

  .movie-detail-info {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
  }

  .movie-detail-score-comment {
    display: none;
  }

  .bottom-info {
    width: 100%;
    justify-content: center;
  }
}
