* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 160px;
  grid-row-gap: 48px;
}

.item-card {
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: "loading";
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

button.disabled {
  background: #aaa;
  cursor: default;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  width: 100%;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box > input {
  border: 0;
}

header .search-box > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url("./search_button.png") transparent no-repeat 0 1px;
  background-size: contain;
}

.text-invalid-result {
  color: #aaa;
  font-size: 1.5rem;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  margin-top: 2rem;
}

.display-none {
  display: none;
}

.w-100 {
  width: 100%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
}

.modal-container {
  position: fixed;
  min-width: 60%;
  height: 65%;
  border-radius: 8px;
  background: #212122;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(179, 157, 157, 0.25);
}

.modal-title-content {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.modal-title-close-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 36px;
  height: 36px;
  background-color: #383839;
  border: none;
  padding: 0;
  border-radius: 50%;
}

.modal-title-close-button-text {
  margin: 8px;
  color: white;
  font-size: medium;
}

.modal-content {
  padding: 1.5rem 1rem;
  display: flex;
  gap: 1rem;
}

.modal-content > .movie-poster {
  width: 292px;
  height: 433px;
  background-size: contain;
}

.modal-content > .movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.modal-content .movie-info-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content .genre-and-vote-average {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.modal-content .vote-average {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.modal-content .overview {
  margin-right: 2rem;
}

.modal-content .my-vote {
  background-color: #383839;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  gap: 0.75rem;
}

header > .search-box-creator {
  display: none;
}

@media screen and (max-width: 480px) {
  header > .search-box-creator {
    display: block;
    background: #fff;
    padding: 8px;
    border-radius: 4px;
  }

  header .search-box-creator > .search-box-creator-button {
    width: 20px;
    height: 20px;
    border: 0;
    text-indent: -1000rem;
    background: url("./search_button.png") transparent no-repeat 0 1px;
    background-size: contain;
  }

  header > .search-box {
    display: none;
  }

  .item-list {
    grid-template-columns: repeat(2, 180px);
    grid-column-gap: 48px;
    max-width: 480px;
  }

  .modal-container {
    position: fixed;
    width: 100%;
    height: 60%;
    min-height: 700px;
    border-radius: 8px;
    background: #212122;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
  }

  .modal-content > .movie-poster {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .item-list {
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 48px;
    max-width: 768px;
  }

  .modal-container {
    position: fixed;
    width: 100%;
    min-width: 481px;
    height: 60%;
    min-height: 700px;
    border-radius: 8px;
    background: #212122;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .item-list {
    grid-column-gap: 48px;
  }

  .modal-container {
    position: fixed;
    width: 80%;
    min-width: 481px;
    height: 60%;
    border-radius: 8px;
    background: #212122;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
  }
}
/* 

적용대상
- header
- list
- modal
*/
