<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>영화 리뷰</title>
</head>

<body>
  <div id="app">
    <header id="header">
      <div class="background-container">
        <div class="overlay" aria-hidden="true"></div>
        <div class="top-rated-container">
          <div class="header-top">
            <h1 class="logo">
              <a href="/"><img src="/images/logo.png" alt="MovieList" /></a>
            </h1>
            <div class="search-bar">
              <input type="text" class="search-input" placeholder="검색어를 입력하세요" />
              <button class="search-button">
                <img src="/images/search_icon.png" alt="검색" class="search-icon" />
              </button>
            </div>
          </div>
          <div class="top-rated-movie">
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <main>
        <section>
          <h2 id="section-title">지금 인기 있는 영화</h2>
          <ul class="thumbnail-list">
          </ul>
          <div id="scroll-sentinel"></div>
        </section>
      </main>
    </div>

    <footer class="footer">
      <p><img src="/images/woowacourse_logo.png" width="180" /></p>
      <p>&copy; 우아한테크코스 All Rights Reserved.</p>
    </footer>
  </div>

  <div class="modal-background" id="modalBackground">
    <div class="modal">
      <button class="close-modal" id="closeModal">
        <img src="/images/modal_button_close.png" />
      </button>
      <div class="modal-container"></div>
    </div>
  </div>
</body>

</html>

<!--
  포스터 원본: https://image.tmdb.org/t/p/original//pmemGuhr450DK8GiTT44mgwWCP7.jpg
  포스터 썸네일: https://media.themoviedb.org/t/p/w440_and_h660_face/pmemGuhr450DK8GiTT44mgwWCP7.jpg
  배너 원본: https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/stKGOm8UyhuLPR9sZLjs5AkmncA.jpg
-->