fieldset {
  direction: rtl;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  height: 577px;
  width: 826px;
  padding: 0;
  border-radius: 8px;
  border: none;
  background-color: #212122;
  color: #f1f1f1;
  line-height: 24px;
}

.movie-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 32px;
  border-bottom: 1px solid rgba(241, 241, 241, 0.25);
}

.movie-title {
  margin-left: auto;
  font-size: 20px;
  font-weight: 600;
}

.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  background-color: #383839;
  width: 36px;
  height: 36px;
  padding: 8px;
}

.movie-modal-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 36px 32px;
}

.movie-poster {
  height: 433px;
  width: 292px;
  grid-row: 1/3;
}

.overview {
  overflow: scroll;
}

.overview::-webkit-scrollbar {
  display: none;
}

/* 별점 css */

.genre-rating-wrapper {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.genre-rating-wrapper div:nth-child(1) {
  display: flex;
  grid-column: 1/3;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.rating-box {
  align-self: end;
  justify-self: start;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 16px;
  background-color: rgba(56, 56, 57, 1);
  border-radius: 16px;
}

.rating-item-wrapper {
  display: flex;
  padding: 0 8px;
}

.rating-item-wrapper > input {
  display: none;
}

.rating-item-wrapper > label {
  margin: 2px;
  width: 24px;
  height: 24px;
  background: url('/src/assets/star_empty.png');
}

.rating-item-wrapper > input:checked ~ label,
.rating-item-wrapper:not(:checked) > label:hover,
.rating-item-wrapper:not(:checked) > label:hover ~ label {
  background: url('/src/assets/star_filled.png');
}

/* Phone */
@media (min-width: 320px) and (max-width: 420px) {
  .modal-container {
    align-items: flex-end;
  }

  .movie-modal-wrapper {
    flex: auto;
    grid-template-columns: none;
    padding: 32px;
  }

  .modal {
    height: 60%;
  }

  .movie-poster {
    display: none;
  }

  .genre-rating-wrapper {
    display: block;
  }

  .overview {
    height: 200px;
  }

  .my-rating {
    display: none;
  }

  .rating-box {
    bottom: 0;
  }
}

/* Tablet */
@media (min-width: 421px) and (max-width: 900px) {
  .modal {
    width: calc(100% - 80px);
    height: 544px;
  }

  .movie-poster {
    width: 200px;
    height: 340px;
  }

  .movie-modal-wrapper {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 2fr;
  }
}
