.search-movie-list-container {
  padding-top: 100px;
}

.movie-list-container {
  /* width: min(1440px, 100%); */
  margin: auto;
  display: flex;
  flex-direction: column;
}

.star {
  width: 24px;
}

button {
  border: 0;
  padding: 8px 16px;
  cursor: pointer;
}

button.primary {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-lightblue-90);
  border-radius: 4px;
}

.background-container {
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 500px;
  padding: 48px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.top-rated-container {
  user-select: none;
  position: relative;
  margin: 0 auto;
}
.movie-list-container h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-block: 60px;
}

.top-rated-movie {
  position: absolute;
  z-index: 2;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: min(800px, 100%);
  padding-left: 80px;
}

.top-rated-movie > *:not(:last-child) {
  margin-bottom: 8px;
}

.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
  z-index: 100;
}

.rate > img {
  position: relative;
  top: 2px;
}

span.rate-value {
  margin-left: 8px;
  font-weight: bold;
  font-size: 3.2rem;
}

.title {
  font-size: 6.4rem;
  font-weight: bold;
}

.more-movies-button {
  background-color: var(--color-lightblue-90);
  color: var(--color-white);
  font-weight: 600;
  width: 100%;
  border-radius: 10px;
}

.more-movies-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
