body.modal-open {
  overflow: hidden;
}

dialog.modal-background {
  width: 100%;
  height: 100dvh;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.modal {
  width: min(800px, 100%);
  background-color: var(--color-bluegray-90);
  padding: 20px;
  border-radius: 16px;
  color: white;
  z-index: 2;
  position: relative;
}

.close-modal {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  overflow-y: scroll;
}

.modal-image img {
  height: 570px;
  aspect-ratio: 2/3;
  border-radius: 16px;
}

.modal-description {
  width: 100%;
  padding: 8px;
  margin-left: 16px;
  line-height: 1.6rem;
}

.modal-description .rate > img {
  position: relative;
  top: 5px;
}

.modal-description > *:not(:last-child) {
  margin-bottom: 8px;
}

.modal-description h2 {
  font-size: 2rem;
  margin: 0 0 8px;
}

.detail {
  max-height: 430px;
  overflow-y: auto;
  line-height: 2.5rem;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  dialog.modal-background {
    padding: 0;
  }
  .modal {
    margin-top: auto;
  }
  .modal-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .modal-image img,
  .modal-spinner {
    height: 300px;
  }

  .modal-container {
    height: 500px;
  }

  .detail {
    text-align: left;
  }
}

@media screen and (max-width: 380px) {
  .modal-image {
    display: none;
  }

  .modal-container {
    height: 500px;
  }
}

.modal-spinner {
  height: 570px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
