.fallback-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 2rem;
  font-weight: 900;
  min-height: 500px;
}

.movie-list-container {
  padding: 64px 80px;
}

.movie-list-container h2 {
  font-size: 3.6rem;
}

.thumbnail-list {
  margin-bottom: 56px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

@media screen and (max-width: 1024px) {
  .thumbnail-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .movie-list-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 700px) {
  .thumbnail-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .thumbnail-list {
    grid-template-columns: 1fr;
  }
}

.thumbnail {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 8px;
}

.item {
  user-select: none;
  cursor: pointer;
}

.item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  width: 16px;
  top: 1px;
}

/* skeleton ui */
.skeleton-thumbnail {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
.skeleton-text {
  width: 65%;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-block: 10px;
}
