.item-card {
  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.item-thumbnail {
  border-radius: 15px;
  width: 180px;
  height: 270px;
  background-size: contain;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

@media only screen and (max-width: 820px) {
  .item-thumbnail {
    width: 140px;
    height: 220px;
  }

  .item-score {
    margin-top: 8px;
    font-size: 1rem;
  }
}
