.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: "loading";
}

.item-card.skeleton {
  background: linear-gradient(
    -90deg,
    var(--skeleton-gray),
    var(--skeleton-white),
    var(--skeleton-gray),
    var(--skeleton-white)
  );
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
