.movie__detail-container {
  display: flex;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.movie__detail-image img {
  width: 380px;
  border-radius: 16px;
}

.movie__detail-description {
  width: 100%;
  padding: 8px;
  margin-left: 16px;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movie__detail-description hr {
  border: none;
  border: 1px solid var(--color-bluegray-80);
  width: 100%;
}

.movie__detail-rate > img {
  position: relative;
  top: 5px;
  width: 24px;
}

.movie__detail-description .rate__detail {
  color: var(--color-yellow);
}

.movie__detail-description > *:not(:last-child) {
  margin-bottom: 8px;
}

.movie__detail-description h2 {
  font-size: 2rem;
  margin: 0 0 8px;
}

.myrate {
  display: flex;
  gap: 8px;
  align-items: center;
}

.myrate__panel {
  display: flex;
  align-items: center;
  gap: 8px;
}

.myrate__score {
  color: var(--color-bluegray-30);
}

.myrate__icon {
  width: 24px;
  &:hover {
    cursor: pointer;
  }
}

.movie__detail-description .myrate > img {
  width: 24px;
  cursor: pointer;
}

.detail {
  max-height: 430px;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .movie__detail-container {
    flex-direction: column;
    align-items: center;
  }
  .movie__detail-image img {
    width: 200px;
  }
  .movie__detail-title {
    text-align: center;
  }
  .movie__detail-category {
    text-align: center;
  }
  .movie__detail-rate {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .movie__detail-image img {
    display: none;
  }
  .myrate {
    flex-direction: column;
  }
}
