.button--small {
  background-color: var(--color-lightblue-90);
  color: var(--color-white);
  width: 100px;
  padding: 10px 0;
  &:hover {
    background-color: var(--color-lightblue-100);
  }
}

.button--full {
  background-color: var(--color-lightblue-90);
  color: var(--color-white);
  width: 100%;
  max-width: 1280px;
  padding: 10px 0;
  &:hover {
    background-color: var(--color-lightblue-100);
  }
}
