*,
*::before,
*::after {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}
.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  width: 100%;
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  /* align-content: space-between; */
  justify-content: space-between;
  grid-column-gap: 20px;
  grid-row-gap: 48px;
  /* grid-row-gap: calc(1vw + 5px); */
}

@media (max-width: 834px) {
  .item-list {
    grid-template-columns: repeat(3, 180px); /* 3열로 변경 */
  }

  /* .item-list li:nth-last-child(1) {
    display: none;
  }

  .item-list li:nth-last-child(2) {
    display: none;
  } */
}

/* 브라우저의 너비가 480px 이하일 때 */
@media (max-width: 660px) {
  .item-list {
    grid-template-columns: repeat(2, 180px); /* 2열로 변경 */
  }

  /* .item-list li:nth-last-child(1) {
    display: none;
  }

  .item-list li:nth-last-child(2) {
    display: none;
  }

  .item-list li:nth-last-child(3) {
    display: none;
  }

  .item-list li:nth-last-child(4) {
    display: none;
  } */
}

@media (max-width: 500px) {
  .item-list {
    grid-template-columns: repeat(2, 140px); /* 2열로 변경 */
  }

  /* .item-list li:nth-last-child(1) {
    display: none;
  }

  .item-list li:nth-last-child(2) {
    display: none;
  }

  .item-list li:nth-last-child(3) {
    display: none;
  }

  .item-list li:nth-last-child(4) {
    display: none;
  } */
}

.item-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.item-thumbnail {
  border-radius: 8px;
  width: 180px;
  height: 270px;
  background-size: contain;
  background-color: #aaa;
}

@media (max-width: 660px) {
  .item-thumbnail {
    width: 180px;
    height: 270px;
  }
}

@media (max-width: 500px) {
  .item-thumbnail {
    width: 140px;
    height: 220px;
  }
}
.item-title {
  margin-top: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.item-score {
  margin-top: 16px;
  font-size: 1.2rem;
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.item-score.skeleton * {
  opacity: 0;
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  width: 100%;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;

  position: relative;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > img.logo:hover {
  cursor: pointer;
}

header > .search-box {
  cursor: pointer;
  background: #fff;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

header .search-box > input {
  border: 0;
}

@media (max-width: 660px) {
  header .full-cover-width {
    z-index: 999;
    left: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 60px);
  }

  header .search-box > input {
    border: 0;
    display: none;
    width: 100%;
  }
}

header .search-box > .search-button {
  width: 16px;
  border: 0;
  text-indent: -1000rem;
  background: url('../asset/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

.retry-button {
  background: no-repeat url('../asset/retry.svg');
  background-size: cover;
  background-color: white;
  background-position: 4px 3px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
}

.loader {
  width: 50px;
  height: 50px;
}

.loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
