.searchbar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  max-width: 525px;
  width: 100%;
  padding: 6px 16px;
  border: 2px solid var(--color-gray-300);
  color: var(--color-gray-300);
  border-radius: 150px;
}

.searchbar__input {
  flex: 1;
  &::placeholder {
    color: var(--color-white);
  }
}

.searchbar__icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
