.error-msg {
  text-align: center;
  font-size: 40rem;
  color: red;
}

.error-description {
  text-align: center;
  font-size: 3rem;
  color: red;
}

.error-description > span {
  color: white;
}

.center-div {
  height: calc(100vh - 168px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-error-msg {
  font-size: 10rem;
  color: red;
}
