.error-msg {
  text-align: center;
  font-size: 35rem;
  color: red;
}

.center-div h2,
.error-description {
  text-align: center;
  font-size: 3rem;
  color: red;
}

.error-description:nth-child(2) {
  margin: 30px 0;
}

.error-description > span {
  color: white;
  cursor: pointer;
}

.error-description button {
  font-size: 3rem;
  border-radius: 70px;
  padding: 10px 20px;
  color: white;
  background-color: red;
}

.center-div {
  height: calc(100% - 168px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-error-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: red;
  margin: 100px 0 50px 0;
}

@media screen and (max-width: 1060px) {
  .error-msg {
    font-size: 20rem;
  }

  .error-description {
    font-size: 2rem;
  }

  .error-description button {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .error-msg {
    font-size: 10rem;
  }

  .error-description {
    font-size: 1rem;
  }

  .error-description:nth-child(2) {
    margin: 15px 0;
  }

  .error-description button {
    font-size: 1rem;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 300px) {
  .error-msg {
    font-size: 5rem;
  }

  .error-description {
    font-size: 1rem;
  }

  .error-description:nth-child(2) {
    margin: 5px 0;
  }

  .error-description button {
    font-size: 1rem;
    padding: 0px 5px;
  }
}
