* {
  box-sizing: border-box !important;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}

@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.5);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.3);
  }
}
