* {
  box-sizing: border-box !important;
}

:root {
  --primary-color: #f33f3f;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

#more-button {
  margin-top: 20px;
}
