* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #222222;
  color: #fff;
  min-width: 391px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

#app {
  padding-bottom: 48px;
}

*:focus {
  outline: none;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-view h2 {
  font-size: 22px;
  font-weight: bold;
  user-select: none;
}

@media screen and (min-width: 834px) {
  .item-view h2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .item-view h2 {
    font-size: 34px;
  }
}

/* https://andrew.hedges.name/experiments/aspect_ratio/ */

.item-list {
  display: grid;
  margin: 6.1% 0;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 36px;
  grid-row-gap: 32px;
}

@media screen and (min-width: 834px) {
  .item-list {
    display: grid;
    margin: 4.3% 0;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 55px;
  }
}

@media screen and (min-width: 1280px) {
  .item-list {
    display: grid;
    margin: 3.8% 0;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 64px;
  }
}

.item-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.item-thumbnail {
  border-radius: 8px;
  aspect-ratio: calc(180 / 270);
  width: 100%;
  background-size: contain;
}

.item-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 834px) {
  .item-title {
    margin-top: 5px;
    font-size: 18px;
    line-height: 27px;
  }
}

.item-score {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 16px;
  gap: 11px;
}

@media screen and (min-width: 834px) {
  .item-score {
    font-size: 18px;
  }
}

.item-score::after {
  margin-left: 8px;
}

.item-title.skeleton::after,
.item-score.skeleton::after {
  font-size: 0;
  content: 'loading';
}

.full-width {
  width: 100%;
}

.last-item {
  margin-top: 48px;
}

button.btn {
  border: 0;
  border-radius: 8px;
  height: 30px;
  color: #fff;
}

button.primary {
  background: #f33f3f;
}

.item-card .skeleton {
  background: linear-gradient(-90deg, #aaa, #f0f0f0, #aaa, #f0f0f0);
  background-size: 400%;
  animation: skeleton-animation 5s infinite ease-out;
  border-radius: 8px;
}

@keyframes skeleton-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  padding: 0 14%;
}

header {
  width: 100%;
  height: 72px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid white;
  margin-bottom: 48px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
  color: #f33f3f;
}

header > .search-box {
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box > input {
  border: 0;
}

header .search-box > .search-button {
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('./images/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

#scroll-end-box {
  width: 100%;
  height: 15%;
}
