@import './component/search-bar/search-bar.css';
@import './reset.css';
@import './theme.css';
@import './component/movie-item/movie-item.css';
@import './component/button/button.css';

body {
  background-color: var(--color-bluegray-100);
}

input {
  border: none;
  background: none;
  outline: none;
  &:focus::placeholder {
    opacity: 0;
  }
}

button {
  border: none;
  background: none;
  background-color: var(--color-lightblue-90);
  color: var(--color-white);
  border-radius: 8px;
  padding: 10px 0;
  cursor: pointer;
}
