:root {
  --color-white: #ffffff;
  --color-lightblue-90: #0da9fd;
  --color-lightblue-100: #0a99e7;
  --color-bluegray-100: #242a32;
  --color-bluegray-80: #39414d;
  --color-bluegray-10: #e0e6ed;
  --color-bluegray-30: #a6b1c3;
  --color-bluegray-90: #2f3844;
  --color-gray-300: #d1d3d4;
  --color-yellow: #ffc700;
  --color-ffffff: #ffffff;
  --color-242a32: #242a32;

  --z-index-header: 20;
  --z-index-overlay: 10;
  --z-index-main-banner: 20;
}

.text-placeholder {
  line-height: 24px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
}

.text-title {
  font-weight: 600;
  font-size: 4rem;
}

@media (max-width: 390px) {
  .text-title {
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.text-subtitle {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.24px;
}

.text-body {
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 0%;
}

.text-button--small {
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0.24px;
}

.text-button--full {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0.24px;
}
