.error-fallback-modal {
  min-width: 450px;
  width: 500px;
  height: 300px;
  border-radius: 8px;
  margin: auto;
  border: none;
}

.error-fallback-modal > .modal-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  white-space: pre;
  text-align: center;
  line-height: 28px;
  font-size: 24px;

  padding: 24px 16px;

  background: #ffffff;
}

.warning-image {
  width: 100px;
}
