.item-view,
.item-test {
  width: 100%;
}

.item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 585px;
  width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: var(--notebook-width)) {
    padding: 0 20px 0 20px;
  }

  @media screen and (max-width: var(--mobile-width)) {
    .item-view {
      width: max-content;
    }
  }
}

.item-view h2 {
  font-size: 2rem;
  font-weight: bold;
  user-select: none;
}

.item-list {
  display: grid;
  margin: 48px 0;
  grid-template-columns: repeat(4, 180px);
  grid-column-gap: 160px;
  grid-row-gap: 48px;
  @media screen and (max-width: var(--notebook-width)) {
    grid-template-columns: repeat(3, 180px);
  }

  @media screen and (max-width: var(--mobile-width)) {
    grid-template-columns: repeat(2, 180px);
  }

  @media screen and (max-width: 585px) {
    grid-template-columns: repeat(1, 180px);
  }
}

.item {
  cursor: pointer;
}

.item-card {
  transition: transform 0.2s ease-in-out;
}

.item-card:hover {
  transform: scale(1.1);
}

.max-page-info {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: var(--white);
}

.error-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  font-size: 25px;
}
