@import "./colors.css";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-bluegray-80);
}

#target {
  height: 100px;
}

#wrap,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin: 64px 0;
}

.star {
  width: 24px;
}

button {
  border: 0;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
}

button.primary {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-lightblue-90);
  border-radius: 8px;
}

button.primary:hover {
  background-color: var(--color-darkblue-90);
  transition: 0.2s;
}

#wrap {
  width: 100%;
  background-color: var(--color-bluegray-100);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrap h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 32px;
}

#header {
  width: 100%;
}

.container {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-container {
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 500px;
  padding: 48px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.top-rated-container {
  user-select: none;
  position: relative;
  z-index: 2;
  max-width: 1280px;
  margin: 0 auto;
}

.top-rated-movie {
  margin-top: 64px;
}

.top-rated-movie > *:not(:last-child) {
  margin-bottom: 8px;
}

button.logo {
  background: none;
  font-size: 2rem;
  cursor: pointer;
}

button.logo :hover {
  scale: 1.1;
  transition: 0.3s;
}

.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

.rate > img {
  position: relative;
  top: 2px;
}

span.rate-value {
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.66rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

footer.footer {
  width: 100%;
  min-height: 180px;
  background-color: var(--color-bluegray-80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
}

footer.footer p:not(:last-child) {
  margin-bottom: 8px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.search-form {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 32px;
  padding: 6px 16px;
}

.search-form input {
  background: transparent;
  font-size: 1.1rem;
  max-width: 600px;
  margin-right: 8px;
  border: none;
  color: white;
  width: 100%;
}

.search-form input::placeholder {
  color: white;
}

.search-form input:focus {
  outline: none;
}

.search-button {
  background: none;
  border: none;
}

.movie-list-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 56px;
}

@media (max-width: 768px) {
  .movie-list-title {
    font-size: 24px;
  }
}

.disabled {
  display: none;
}

.background-container-disabled {
  height: 100px;
}

.empty-search-result-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-search-result-image {
  width: 72px;
  height: 63px;
  margin-bottom: 16px;
}

.empty-search-result-text {
  font-size: 36px;
  font-weight: 600;
}

.error-modal-container {
  position: fixed;
  background-color: white;
  border-radius: 16px;
  width: 40%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 30px;
  display: flex;
  padding: 18px 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: black;
  font-weight: 600;
}

.close-error-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  font-size: bold;
  cursor: pointer;
}

.error-modal-button {
  width: 100%;
  font-size: 24px;
}

.error-modal-button:hover {
  scale: 1.05;
  transition: 0.2s;
}
