@import "./colors.css";
@import "./z-index.css";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-bluegray-80);
}

#app,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin: 64px 0;
}

.star {
  width: 24px;
}

button {
  border: 0;
  padding: 8px 16px;
  cursor: pointer;
}

button.primary {
  color: var(--color-white);
  font-weight: bold;
  background-color: var(--color-lightblue-90);
  border-radius: 4px;
}

#app {
  background-color: var(--color-bluegray-100);
}

#app h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.background-container {
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 500px;
  padding: 48px;
  width: 100%;
  overflow: hidden;
}

.top-rated-container {
  user-select: none;
  position: relative;
  z-index: var(--z-index-top-rated);
  max-width: 1280px;
  margin: 0 auto;
}

.top-rated-movie {
  margin-top: 64px;
  position: relative;
  z-index: var(--z-index-top-rated);
}

.top-rated-movie>*:not(:last-child) {
  margin-bottom: 8px;
}

h1.logo {
  font-size: 2rem;
}

.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

.rate>img {
  position: relative;
  top: 2px;
}

span.rate-value {
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.66rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

footer.footer {
  min-height: 180px;
  background-color: var(--color-bluegray-80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
}

footer.footer p:not(:last-child) {
  margin-bottom: 8px;
}

.search-header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: var(--z-index-top-rated);
}

.logo {
  flex-shrink: 0;
}

.search-bar-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 525px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  border: 2px solid #D1D5DB;
  padding: 6px 16px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: var(--z-index-overlay);
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: var(--z-index-overlay-image);
}

.hide {
  display: none;
}

.hide-background {
  height: 164px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}