@media (max-width: 1024px) {
  .thumbnail-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 70px;
  }

  .background-container {
    height: auto;
  }

  .modal-background {
    align-items: flex-end;
    border-radius: 0;
  }

  .modal {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
  }

  .modal-container {
    flex-direction: column;
  }

  .detail-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-image img {
    width: 200px;
    height: auto;
  }

  .modal-description {
    max-width: 100%;
    padding: 16px;
  }

  .title-category {
    align-items: center;
  }

  .skeleton-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 70px;
  }
}
@media (max-width: 768px) {
  .thumbnail-list {
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 70px;
  }

  .modal-image img {
    display: none;
  }
  .my-rating {
    align-items: center;
  }
  .overview-wrapper {
    align-items: center;
  }
  .real-rating {
    display: flex;
    flex-direction: column;
  }

  .item {
    align-items: center;
  }
}
