@import './colors.css';

/* modal.css */
body.modal-open {
  overflow: hidden;
}

dialog:-internal-dialog-in-top-layer::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.modal {
  background-color: var(--color-bluegray-90);
  padding: 0;
  border-radius: 16px;
  color: white;
  z-index: 2;
  /* position: relative; */
  width: 1000px;
  margin: auto;
  border: none;
  opacity: 0;
}

dialog[open] {
  animation: modalFadeIn 0.5s ease normal;
  animation-fill-mode: forwards;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-modal {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  padding: 20px;
}

.modal-image {
  width: 50%;
}

.modal-image img {
  width: 100%;
  border-radius: 16px;
}

.modal-description {
  width: 50%;
  padding: 8px;
  margin-left: 16px;
  line-height: 1.6rem;
}

.modal-description .rate > img {
  position: relative;
  top: 5px;
}

.modal-description > *:not(:last-child) {
  margin-bottom: 8px;
}

.modal-description h2 {
  font-size: 2rem;
  margin: 0 0 8px;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 100%;
    max-width: 100%;

    margin: auto 0 0 0;
  }

  .modal-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .modal-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .modal-description {
    width: 100%;
    margin: 0;
  }

  .modal-image img {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .modal-image {
    display: none;
  }
}
