.gnb {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  position: relative;
  z-index: 100;
  width: 67%;
}

.logo {
  left: 0;
}

.overlay {
  width: 100%;
  height: 65%;
}

.overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.search-bar-container {
  margin: auto;
  display: flex;
  border: 2px solid #d1d5db;
  max-width: 525px;
  width: 100%;
  height: 36px;
  border-radius: 32px;
}

.search-bar {
  flex-grow: 2;
  border: none;
  color: #ffff;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 32px;
  padding-left: 20px;
}

.search-bar:focus {
  outline: none;
}

.search-bar-button {
  background-color: transparent;
}

.more {
  width: 100%;
}

.disappear {
  display: none;
}

.nothing-text {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.nothing-img {
  width: 72px;
  height: 62px;
  margin: auto;
  margin-bottom: 10px;
}

.my-rate .star {
  cursor: pointer;
}

@media (max-width: 1050px) {
  .gnb {
    flex-direction: column;
  }

  .logo {
    margin: auto;
  }

  .modal-container {
    flex-direction: column;
  }
  .modal-background {
    align-items: end;
  }

  .modal-image {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .modal-image img {
    width: 200px;
  }

  .thumbnail-list, .list-title {
    padding-left: 150px;
  }  
}

@media (max-width: 480px) {
  .background-container {
    padding: 28px;
    height: 300px;
  }

  .thumbnail-list, .list-title {
    padding-left: 80px;
  }  

}
