@import "./colors.css";

.thumbnail-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 70px;
  width: 100%;
}

.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  display: block;
  background-color: var(--color-gray-300);
  color: black;
}

.item {
  user-select: none;
  cursor: pointer;
}

.item-desc strong {
  line-height: 142%;
}

.item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  width: 16px;
  margin-top: 4px;
}

.skeleton .thumbnail {
  animation: skeleton-loading 2s infinite;
}

.skeleton .rate {
  width: 50px;
  height: 20px;
  margin-top: 4px;
  animation: skeleton-loading 2s infinite;
}

.skeleton .title {
  width: 120px;
  height: 19.33px;
  animation: skeleton-loading 2s infinite;
}

@keyframes skeleton-loading {
  0% {
    background-color: lightgray;
  }
  50% {
    background-color: rgb(184, 184, 184);
  }
  100% {
    background-color: lightgray;
  }
}
