@import './colors.css';

.thumbnail-list {
  margin: 0 auto 56px;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 70px;
}

.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

.item {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-desc > *:not(:last-child) {
  position: relative;
  margin-bottom: 4px;
  line-height: 1.2rem;
}

p.rate {
  display: flex;
  align-items: baseline;
  color: var(--color-yellow);
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  width: 16px;
  top: 1px;
}

@media screen and (max-width: 1380px) {
  .thumbnail-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .thumbnail {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 530px) {
  .thumbnail-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 0));
    justify-content: center;
  }
}
