.skeleton-container {
  display: none;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 48px;
}

.item-card .skeleton {
  background-color: #383839;
  border-radius: 8px;

  animation: skeleton-gradient 2s infinite ease-in-out;
}

.visible {
  display: grid;
}

@media screen and (max-width: 420px) {
  .skeleton-container {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
