@media only screen and (max-width: 834px) {
  dialog .modal-user-star-container {
    width: 90%;
    margin-top: 10px;
    padding: 0 16px;
    justify-content: space-around;
  }
}

.modal-user-star-container {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 16px;
  gap: 12px;
  width: 438px;
  background-color: rgba(56, 56, 57, 1);
  border-radius: 16px;
}

.modal-user-rate-title {
  width: 50px;
  text-wrap: nowrap;
}

.modal-user-star-box {
  width: 160px;
  height: 32px;
  text-wrap: nowrap;
}

.modal-user-star-button {
  text-align: center;
  width: 24px;
  height: 25px;
  padding: 0;
  border: 0;
  background: none;
}

.modal-rate {
  width: 20px;
}
