header > .search-box {
  position: relative;
  background: #fff;
  padding: 8px;
  border-radius: 4px;
}

header .search-box > input {
  border: 0;
}

header .search-box > .search-button {
  position: absolute;
  right: 10px;
  width: 14px;
  border: 0;
  text-indent: -1000rem;
  background: url('../../imgs/search_button.png') transparent no-repeat 0 1px;
  background-size: contain;
}

@media (max-width: 500px) {
  header > .search-box {
    position: absolute;
    right: 30px;
    width: 33px;
  }

  header > .search-box > input {
    width: 0;
  }

  header > .search-box:hover {
    width: 90%;
  }

  header > .search-box:hover > input {
    width: 100%;
  }
}